[2017-07-19 23:22] jgravois opened #2 "write the docs!"
patrickarlt [4:15 PM]
if you do want to mess with Typedoc you need https://github.com/TypeStrong/typedoc/pull/549 to make it work.

patrickarlt [4:16 PM]
`typedoc --out docs packages/arcgis-core/src --readme none`

[4:16]
i dont know how to make typedoc stop treating every file as an external module…

new messages
[4:17]
there supposedly is a `--mode modules` but it doesn’t do anything.
Dojo has a

[2017-08-03 01:21] patrickarlt opened #5 "Handling authentication"
Authentication is a problem that has been bugging me for awhile about this repo. I'm note entirely sure how to resolve it. As a reference here are some of our design goals for this:

* Avoid use of a singleton like `IdentityManager`
* Make it easy for a developer to configure authentication once and forget about it no matter what library they are using.
* We want to properly federate requests (a l

[2017-08-04 01:11] patrickarlt opened #7 "Livereload docs when source files change"
Just like the title says. This will probably need a custom script to watch the source files for changes, rerun TypeDoc and then tell Acetate to reload.

[2017-08-04 01:21] patrickarlt opened #8 "Start planning out packages"
@dbouwman @jgravois @noahmulfinger @dmfenton @araedavis I think this repo is getting close to the point where we can start thinking about planning out the other packages that we want. I think we can still do this regardless of the auth decisions in https://github.com/ArcGIS/arcgis-rest-js/issues/5.

I think the first step is audit all of our projects and produce the following:

* A list of all API

[2017-08-04 01:41] patrickarlt opened #9 "Naming things!"
@dbouwman @jgravois @noahmulfinger @dmfenton @araedavis @ajturner I think we need to discuss standardizing naming of our packages.

Currently we have 1 package called `arcgis-core`. This seems way to general to me. I would propose:

* `arcgis-rest-client-js` - this would mean all our packages would be `arcgis-rest-client-js-*`. Kinda long.
* `arcgis-rest-js` - this would mean all our packages woul

[2017-08-05 00:14] patrickarlt opened #10 "Implement `UserCredentials` and `ApplicationCredentials`"
Based on discussion in https://github.com/ArcGIS/arcgis-rest-js/issues/5 we are going to implement authentication as follows:

[code]

Since the request method and the `UserSession`/`AuthSession` objects will be closely coupled now I think this should all go into `arcgis-rest-core`.

At a glance this means adding:

* A new error type `ArcGISAuthError`.
* A new enum `ErrorTypes` which will expose `

[2017-08-05 00:15] #5 closed, assigned to nobody

[2017-08-06 17:04] dbouwman opened #11 "Example Apps"
In order to ensure that the api works for our desired use-cases, I propose we build some simple applications to validate the library.

The following demos seem useful:
- jquery app
- dojo app
- ember js app
- angular js app
- react app
- node cli app

For the browser demos, the app should use oAuth to get a token, then instantiate a session and execute a simple, authenticated search @ AGO.

The no

[2017-08-06 20:47] patrickarlt opened #12 "How much wrapping of the API do we do?"
This is a pretty legitimate question. I definitely agree with @dbouwman that we should not attempt to put everything in our own models.

However I DO think we should provide TypeScript types for request and response parameters.  For example here the response for http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?Address=380+new+york+st&City=redlands&Region=CA&

[2017-08-06 20:55] #2 closed, assigned to nobody

[2017-08-06 20:55] #7 closed, assigned to patrickarlt

[2017-08-07 16:43] jgravois opened #14 "when to open source?"
are there any drawbacks to:
* getting this repo into a state that it can be open sourced
* adding an <kbd>experimental</kbd> flag
* putting out a call for public feedback
* tagging `v1.0.0` once we've got something we're fairly happy with?

putting on my open source evangelism hat, i think it'd be a 💯  story to show devs from different teams across the company collaborating on a low-level tool fro

[2017-08-09 01:20] patrickarlt opened #17 "Investigate duration of refresh tokens"
According to the REST API docs at http://resources.arcgis.com/en/help/arcgis-rest-api/#/Authentication/02r30000009z000000/ `refresh_token` has a limited life span:

However you can request longer lived access tokens:

and

But:

So while I can request a refresh token for up to 90 days it MIGHT be limited by the users organization or platform.

**Question 1**: "How do I know when my `refresh_token`

[2017-08-09 15:23] patrickarlt opened #18 "How to handle null, undefined and boolean, values?"
After investigating why tests in https://github.com/ArcGIS/rest-js/pull/16 were failing I found the root cause to be that if you pass `null` or `undefined` as a value the `form-data` library in Node will throw an error. It appears https://github.com/form-data/form-data/issues/336 is the root cause of this but https://github.com/form-data/form-data/issues/137 might also be an issue.

In general bas

[2017-08-09 16:31] patrickarlt opened #19 "Setup headless Chrome and Firefox tests on Travis"
Once we open source the repo we should have Travis CI run our Node tests on Node 6 and Node 8 and our browser tests through Sauce Labs https://wiki.saucelabs.com/display/DOCS/Setting+Up+Karma+for+JavaScript+Unit+Testing for all browsers that we support.

It would also be nice to use [CodeCov](https://codecov.io/) or [Coveralls](https://coveralls.io/) to automatically upload the coverage files gene

[2017-08-09 16:32] patrickarlt opened #20 "Add support for f=geojson"
Right now exactly 1 endpoint (FeatureServer/LAYER/query) supports `f=geojson`.

Should this library support handling `f=geojson` for other API endpoints by transforming the response with `terraformer-arcgis-parser`? Should we accept GeoJSON input the same way?

I'm more on the side of not doing this since it would be a lot of extra effort and it would mean that requests could have 2 different JSON

[2017-08-09 16:59] patrickarlt opened #21 "Build release automation tooling"
This will probably be one of my least favorite tasks ever but after automating this for Leaflet hopefully this can be OK.

General idea of the process:

1. Run `lerna publish --no-git`. This will run `npm publish` in each package and update the `version` key in `lerna.json` but skip doing anything in Git.
2. Update our `package.json` `version` with the new `version` from 'lerna.json'.
3. Run a scr

[2017-08-09 16:59] patrickarlt opened #22 "Add CONTRIBUTING.md"
If we are thinking about open sourcing this soon we should really create the `CONTRIBUTING.md`.

@jgravois I think you probably handle this but I think we should specifically mention:

1. Recommend installing the TypeScript, TSLint, Prettier and EditorConfig extensions for your text editor.
2. How to run and debug the tests
3. How to run the docs site locally
4. How to edit guides in the docs

[2017-08-09 21:38] patrickarlt opened #23 "Add code of conduct"
In the intereste of making this a friendly and safe open source project we should add a COC and stick to it. https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/

[2017-08-09 21:39] patrickarlt opened #24 "Clean up README.md"
@jgravois we should probably go over the readme.md and spruce it up before open sourcing.

[2017-08-09 21:59] patrickarlt opened #25 "Build script to host on gh-pages"
We should have a script that builds the site and deploys it to gh-pages. For extra bonus points we could automatically deploy to `gh-pages` with travis CI https://docs.travis-ci.com/user/deployment/pages/.

[2017-08-09 23:45] dmfenton opened #26 "Link to docs"
Are the existing docs pushed to GH Pages or anything yet?

[2017-08-12 04:01] #22 closed, assigned to patrickarlt, jgravois

[2017-08-12 04:01] #23 closed, assigned to jgravois

[2017-08-12 04:05] #24 closed, assigned to jgravois

[2017-08-15 22:39] #10 closed, assigned to patrickarlt

[2017-08-18 17:03] #21 closed, assigned to patrickarlt

[2017-08-18 20:19] #20 closed, assigned to patrickarlt

[2017-08-20 22:45] jgravois opened #34 "clearly doc requirements for lib use"
* fetch polyfill
* user endpoints need to support CORS
* browser/node versions
* ?

[2017-09-19 21:54] hogpilot opened #40 "Install script fails on Windows"
I am unable to get a clean install by following the instructions on the README.md, While executing the `npm install`  process, it fails at the lerna command `npm run prepublish`.  I get the same error when using _Cygwin64 Terminal_ or _Git Bash_.  Below are my system details.
- Windows 8.1 Enterprise
- node 6.10.2
- npm 5.4.2
- lerna 2.2.0

I've attached a text file of the exact messages. [rest-js

[2017-09-20 16:33] patrickarlt opened #41 "Design API for @esri/arcgis-rest-search module"
API for interacting with the portal search API https://resources.arcgis.com/en/help/arcgis-rest-api/#/Search/02r3000000mp000000/.

[2017-09-20 16:35] patrickarlt opened #42 "Design API for @esri/arcgis-rest-item module"
API for interacting with the portal content APIs https://resources.arcgis.com/en/help/arcgis-rest-api/#/Content_Root/02r300000093000000/.

[2017-09-20 16:36] patrickarlt opened #43 "Design API for @esri/arcgis-rest-sharing module"
API for interacting with the sharing API (items, groups, ect...).

[2017-09-20 16:37] patrickarlt opened #44 "Design API for @esri/arcgis-rest-groups module"
API for interacting with the groups APIs https://resources.arcgis.com/en/help/arcgis-rest-api/#/Group/02r30000006m000000/.

[2017-09-20 16:39] patrickarlt opened #45 "Design API for @esri/arcgis-rest-applications module"
Design and API for interacting with applications, creating the item, oauth, proxy management. @ajturner @dbouwman and @tomwayson might have additional requirements for creating template applications.

[2017-09-20 16:44] patrickarlt opened #46 "Design API for @esri/arcgis-rest-feature-layers module"
API design for a module with support for creating, updating and deleting feature both feature layers and their features.

[2017-09-20 16:46] patrickarlt opened #47 "Design API for @esri/arcgis-rest-routing module"
Design API with support for the routing services https://resources.arcgis.com/en/help/arcgis-rest-api/#/Overview_of_network_analysis_services/02r30000001s000000/ probably using https://github.com/Esri/esri-leaflet-routing as a base.

[2017-09-20 16:47] patrickarlt opened #48 "Design API for @esri/arcgis-rest-geoenrichment module"
Design an API for accessing the Geoenrichment API https://developers.arcgis.com/rest/geoenrichment/api-reference/geoenrichment-service-overview.htm.

[2017-09-21 18:12] hogpilot opened #50 "Documentation build fails on Windows"
When running `npm run docs:serve` on Windows, the script fails.

[code]

[2017-09-22 15:15] #50 closed, assigned to nobody

[2017-09-22 16:45] #40 closed, assigned to nobody

[2017-09-22 18:36] #9 closed, assigned to patrickarlt

[2017-09-25 16:18] #18 closed, assigned to nobody

[2017-09-25 16:20] #8 closed, assigned to ajturner, dbouwman, patrickarlt, jgravois, noahmulfinger, dmfenton, araedavis

[2017-09-25 23:30] #17 closed, assigned to patrickarlt

[2017-09-27 16:44] noahmulfinger opened #56 "Throw authentication error when unable to refresh user's session"
Currently when UserSession is unable to refresh the session, it just throws a generic error. It should throw an ArcGISAuthError.

https://github.com/ArcGIS/arcgis-rest-js/blob/7e5f2e5e862e7f2aaffcbc76a19ca37a44621c47/packages/arcgis-rest-auth/src/UserSession.ts#L513-L523

[2017-09-29 20:42] #14 closed, assigned to jgravois

[2017-10-30 21:54] jgravois opened #60 "add deprecation note to prior art"
once this is open sourced, ill reply to open issues in past projects and include a deprecation notice at the top of those READMEs.

https://github.com/Esri/geoservices-js/issues/91
https://github.com/Esri/node-arcgis/issues/91

kinda creepin me out that those issue numbers match.

[2017-11-13 19:52] dbouwman opened #62 "Pseudocode"
Pseudocode examples of how we would use the arcgis-rest-js auth + Identity Manager with:

- node js
- browser app (any framework)
- browser with JSAPI

Scenario:
- fetch private Map Service item from AGO that ref's an external, secured Map Service
- query a layer in the map service

[2017-11-13 21:53] dbouwman opened #63 "Application Session needs to take a Portal param"
Right now we could not use this against devext/qaext

[2017-11-28 18:45] jgravois opened #66 "smart support for GET (which switches to POST automatically)?"
our current implementation of esriRequest defaults to POST and allows a GET to be issued manually.

@patrickarlt's preference is to recommend that packages default to POST and skip implementing logic to switch from a GET to a POST after the commonly accepted ~2000 character limit has been exceeded.

this issue is intended to track interest from other developers who would like to piggyback off a _s

[2017-11-28 18:51] #63 closed, assigned to nobody

[2017-11-29 16:30] #41 closed, assigned to dbouwman, tomwayson

[2017-11-29 16:32] dbouwman opened #67 "Design API for @esri/arcgis-rest-portal module"
Module that will encapsulate CRUD methods for the portal resource.

Initially, has `getPortal` and `getSelf`

[2017-12-01 19:47] jgravois commented on #60
done (and done).

[2017-12-01 19:47] #60 closed

[2017-12-01 19:48] jgravois opened #71 "push up live doc site"
have we decided where this is going to live yet? `gh-pages`? surge?

[2017-12-01 21:27] patrickarlt commented on #71
I vote for `gh-pages` because it is easy. https://www.npmjs.com/package/gh-pages could help automate deployment too.

[2017-12-02 01:04] jgravois commented on #71
i agree, but the current design of the docs and typedoc file assume the site will land in the root of a domain (not at https://esri.github.io/arcgis-rest-js/)

it was a bigger pain than i expected this afternoon to get enough tweaks in place, so lets point folks at http://arcgis-rest-js.surge.sh/ until i have time to dig in deeper.

[2017-12-05 00:47] noahmulfinger opened #73 "Handling owner/username in portal API calls"
When working with user content, its common that we have to use an endpoint similar to
[code]
which requires getting the user's username. The `items` package handles this by having the user input an `owner` parameter for functions that require it. However, in the `feature-services-admin` package I've been working on, I've been assuming that the authentication is a UserSession and pulling the userna

[2017-12-05 06:18] jgravois commented on #73
I had the same reaction you did when i saw that `owner` was a discrete parameter in the items package.

the REST documentation for _some_ item operations (like the ones pertaining to [resources](http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Item_Resources/02r3000002r3000000/) that i mucked around with the other day in #70) state that operations can be performed by either their ow

[2017-12-05 20:28] patrickarlt commented on #73
I originally intended modules to override `IRequestOptions` if they needed to add additional options to a request. So we could write things like this:

[code]

The general design for request is as follows (we should probally put this in an API design page somewhere):

[code]

This design lets us:

1. Specify required params in an easy way
2. Lay our own sugar on top of the APIs via `options`
3. Su

[2017-12-05 21:26] dbouwman commented on #73
@patrickarlt  @noahmulfinger I think using the currentUser could work for some of the items api calls - i.e. `createItem` which is clearly happening in the context of the current user.

However, calls like `removeItem` and `unprotectItem` etc, the `owner` is a required segment of the url, and (at least in hub) it's not a given (or even common) that `owner === currentUser`, so I'd rather we just ma

[2017-12-05 23:32] patrickarlt commented on #73
@dbouwman If `owner !== currentUser` you can still specify owner in my example above.

[code]

[2017-12-05 23:47] jgravois commented on #73
i talked to @dbouwman about this a bit more and he could live with populating url segments like `owner` from the authentication session by default and exposing a dedicated _optional_ `owner` parameter that trumps what is in the session.

i understand the desire to make required url segments _first class citizen_ parameters instead of decorating other objects with them as properties, but from a deb

[2017-12-06 15:12] dbouwman commented on #73
ok - I wrote an example to demonstrate this issue --> https://gist.github.com/dbouwman/7f0133d90fe21ddc6e023315557eb2ba

In that, I search for 20 items not belonging to the current user.
I `.map` over the results to create two sets of promises...

[code]

The promise fn's are very simple... they just check if the owner - passed either by `requestOptions.owner` or as a param, matches the `item.owne

[2017-12-06 19:52] tomwayson commented on #66
I just bumped into an issue where koop services don't support POST. Also, debugging the POST query to figure that out was not as easy as debugging a GET - not hard, just inconvenient.

I really think defaulting to POST is going to cause more problems than it's worth. I know _these libraries_ don't support non-CORs browsers, and I guess we won't officially support services that don't have CORs on o

[2017-12-06 20:02] patrickarlt commented on #73
@dbouwman I think your demo is a little misleading. Your issue should be resolved by changing

[code]

to

[code]

`requestOptions`

I agree this is a footgun but this is just like mutating a value in a `for` loop and I don't think most users are really going to be scripting things that reach across tons of users all at once. For example the developer site will always be `owner === currentUser` so

[2017-12-06 20:42] patrickarlt commented on #73
@dbouwman the same thing could also be said for `requestOptions.portal` which is used everywhere https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-request/src/utils/get-portal-url.ts#L16-L18

[2017-12-06 21:03] patrickarlt opened #75 "Switch all methods to use a single options object"
Between https://github.com/Esri/arcgis-rest-js/issues/73 and https://github.com/Esri/arcgis-rest-js/pull/74 it seems we are struggling to figure out the right order of options and how to pass commonly used things like `owner` and `portal`. I am going to suggest the following:

1. Every method accepts a single `options` object.
2. That object is strictly typed and inherits from `IRequestOptions` or

[2017-12-06 21:09] dmfenton commented on #75
Strongly in favor

[2017-12-06 21:09] tomwayson commented on #75
Why not keep `url` as the required first parameter of `request()` and out of `IRequestOptions` Seems like most wrapping fn's will end up having to `void` it.

[2017-12-06 21:12] dbouwman commented on #75
Verbose in that almost every method needs it's own `IMethodOptions`, but at least it's consistent and we're not hiding *some* params in the request options hash.

[2017-12-06 21:23] jgravois commented on #75
i'm good with anything. when an agreement has been reached, i will...

![make it so](https://vignette.wikia.nocookie.net/cardfight/images/9/97/Star-trek-make-it-so-450x270.jpg/revision/latest?cb=20160325065605)

[2017-12-06 21:43] patrickarlt commented on #75
I'm all for what @tomwayson said about keeping URL as its own param in https://github.com/Esri/arcgis-rest-js/issues/75#issuecomment-349775514. I updated my original proposal to match.

[2017-12-07 20:23] tomwayson commented on #66
@patrickarlt do you agree that this should be settled before v1 release?

[2017-12-07 20:27] jgravois commented on #66
personally, i'm okay with shipping a v1 that defaults to `POST` and allows devs to `GET` or incorporate their own logic to switch between the two.

with something 'smart' i assumed we'd be aiming for (another?) wrapper to switch between the two for them automagically so i don't envision it being a breaking change.

[2017-12-07 21:02] tomwayson commented on #66
So after some back and forth, w/ @jgravois, it seems the [2k limit might be on the server side](https://stackoverflow.com/questions/15090220/maximum-length-for-url-in-chrome-browser). Looking at https://github.com/Esri/cedar/pull/346, the service in question is a hosted feature service.

I think the hassle of debugging POST requests and the awkward HTTP verb semantics of POSTing for queries, and w

[2017-12-07 21:58] patrickarlt commented on #66
@tomwayson I totally had a response to this and then I must have closed the tab. The 2k limit affects both browsers and servers https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers. We will run into the 2k limitation whenever we need to pass large JSON objects to the server not just with hosted services.

@tomwayson I don't agree with your logic abou

[2017-12-08 15:05] dbouwman commented on #66
I think the idea would be that the `arcgis-foo-lib` could have methods that recommend a `GET`, but the `request` fn still guard against O_o long query strings.

So - by default, all things `POST`. Package authors can specify that -- if possible -- a `GET` should be used, but `request` will not let things explode, and will `POST` if needed.

The snippet below seems to need 2 lines added to address

[2017-12-09 16:09] tomwayson commented on #66
I think #77 is a great step in the right direction, but I think we should do that _and_ add smart GET. Easier debugging is _a_ reason to switch to GET for queries, but not the only reason. Another is using the semantically correct HTTP verb, and the one that users expect to see for queries.

After #77 (and #78) lands, I'd like to PR something along the lines of what @dbouwman laid out above.

[2017-12-20 22:32] jgravois commented on #75
resolved via #78

[2017-12-20 22:32] #75 closed

[2017-12-20 22:34] jgravois commented on #73
in #78 we landed a change that makes `owner` an optional argument that _can_ be substituted on behalf of a user's authentication session.

[2017-12-20 22:35] #73 closed

[2017-12-20 22:36] jgravois commented on #71
closing, but happy to revisit using github pages later if anyone has the bandwidth.

[2017-12-20 22:36] #71 closed

[2017-12-20 22:53] patrickarlt commented on #34
I never looped back and updated this issue. Right now we are simply relying on globals that we expect users to install but we don't throw any errors or try anything fancy if they are not there or polyfills aren't loaded.

I could try to make the following work:

1. If `request` is called and we are in a browser environment (as far as we can tell) and we do not have the necessary globals, try to lo

[2017-12-20 23:21] tomwayson commented on #34
Works for me. We can always add the fancy stuff later.

[2017-12-21 00:00] patrickarlt commented on #34
@tomwayson @jgravois ok then this probably needs to be a v1 issue then. I'll wrap this up tomorrow.

[2017-12-21 00:08] tomwayson commented on #34
FYI - here's what I ended up doing for esri-loader:

https://github.com/Esri/esri-loader#promises

[2017-12-21 21:26] #34 closed

[2017-12-21 22:45] patrickarlt commented on #26
I think we can close this now since @jgravois got this published on surge.

[2017-12-21 22:45] #26 closed

[2017-12-21 22:45] patrickarlt commented on #25
@jgravois got this working so I'm closing this.

[2017-12-21 22:45] #25 closed

[2017-12-22 01:08] jgravois opened #81 "add README to each individual package (for npm)"
[ref:](https://www.npmjs.com/package/@esri/arcgis-rest-request)

### @esri/arcgis-rest-request <kbd>public</kbd>
Sadly, this package has no readme. Go write one!

[2017-12-23 01:09] #81 closed

[2017-12-23 01:19] jgravois opened #86 "HTTPMethods links in doc are broken"
when i reviewed https://github.com/Esri/arcgis-rest-js/commit/32face15dc6da19302e9decd32f8650e7ea0869b i noticed that i overwrote some links to nowhere with actual '404's.

everything _looks_ okay in the `typedoc.json`, but we aren't yet linking correctly to [`HTTPMethods`](https://esri.github.io/arcgis-rest-js/api/request/HTTPMethods/).

[2017-12-26 22:14] jgravois commented on #86
that's not technically correct. i took a deeper look at this and we aren't generating a `src` or `pageUrl` for **inherited** properties in the typedoc.json.

example:
[`IAuthenticatedRequestOptions`](https://esri.github.io/arcgis-rest-js/api/auth/IAuthenticatedRequestOptions/)

[code]

[2017-12-27 17:19] patrickarlt opened #88 "Automatically deploy to gh-pages when merging into master"
Details are in https://docs.travis-ci.com/user/deployment/pages/. This should make it do we don't have to build the site locally to to update GH pages just merge it into master. This also means that the travis CI command will have to build the docs in addition to running the tests.

[2017-12-27 17:22] patrickarlt commented on #19
You now have to apply for SauceLabs to get it for free so it might be better off just using headless Firefox and Chrome on travis to automate browser testing. https://developers.google.com/web/updates/2017/06/headless-karma-mocha-chai#running_it_all_on_travis_ci

[2017-12-27 17:23] patrickarlt commented on #19
There are also additional docs at https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-the-Firefox-addon-in-headless-mode.

[2017-12-27 17:26] jgravois commented on #19
i'm particularly interested in wiring up a bot that replies to each open PR indicating the impact on test coverage so i'll look into that part.

[2017-12-27 17:29] patrickarlt commented on #19
@jgravois [Coveralls](https://coveralls.io/) (what I use for Acetate) will do that https://github.com/patrickarlt/acetate/pull/70#issuecomment-341254040.

[2017-12-27 22:03] #88 closed

[2017-12-27 23:15] noahmulfinger opened #92 "Broken links due to code comments"
The below broken links are markdown links within code comments. These links don't get processed by Acetate and thus don't get the base url appended. We might want to figure out a way to autogenerate these in-comment links so we don't have to manually set and maintain them.

Appears on | Link Text | 404ing URL
-- | -- | --
https://esri.github.io/arcgis-rest-js/api/request/checkForErrors/ | ArcGISAu

[2017-12-28 17:04] jgravois commented on #86
resolved via #93

[2017-12-28 17:04] #86 closed

[2017-12-28 18:16] patrickarlt commented on #19
Updated the title of this issue since @jgravois got coveralls hooked up.

[2017-12-28 19:11] noahmulfinger opened #96 "Docs: Formatting issue with long strings"
The property table on the doc pages expands too far when there's a long string without a word break (see the sampleserver url below):
![screen shot 2017-12-28 at 11 06 09 am](https://user-images.githubusercontent.com/6539297/34420579-40f2ec3c-ebbf-11e7-9823-add6667d4ebb.png)

[2017-12-28 20:40] #19 closed

[2017-12-29 00:15] jgravois opened #97 "create example which demonstrates how to batch geocode a .csv"
ref: https://github.com/Esri/geoservices-js/issues/95

[2017-12-30 17:07] mpayson commented on #97
@jgravois I'm happy to build the sample too if it'd be helpful, been eager to try this lib out

[2017-12-31 01:37] jgravois commented on #97
that'd be great!

[2018-01-04 21:31] phpmaps commented on #97
@jgravois @mpayson @patrickarlt so what is the minimum node.js version required to run this project?  on the project home page there is an example that uses what looks to be the promise / then() pattern, which suggests v6x.   can the sample be v8x with (async / await)?

[2018-01-04 21:48] jgravois commented on #97
check out the Node.js getting started section in https://esri.github.io/arcgis-rest-js/guides/

the gist is that even in Node.js 8x you need to import `isomorphic-fetch` and `isomorphic-form-data` to polyfill yourself.

[2018-01-04 22:50] #92 closed

[2018-01-04 22:54] mpayson commented on #97
two quick questions:

1) is the scope to create a sample in the browser for users to upload a csv and download the results, or just create a node script that writes back the output? I'm in favor of the latter since it's slightly more straight forward and could be pulled into html

2) any recommended libraries for parsing csv strings? I'm leaning towards [Papa Parse](http://papaparse.com/)

thanks!

[2018-01-04 23:16] jgravois commented on #97
@mpayson just follow your ❤️  and you'll go far :smile:

[2018-01-04 23:22] phpmaps commented on #97
@mpayson I would say the latter, too b/ it has simple and real value.  Though for me arcgis-rest-js is a new project that I've not explored.  If it already includes consistency in samples that show end-to-end browser to JS backend, I vote for consistency.  Never a fan of wearing a tie to a Hawaiian shirt party.   On parsers @jgravois and I had already started something with cvs-parser in the devel

[2018-01-04 23:25] phpmaps commented on #97
@mpayson per comment above follow your heart.   I'd like to get something done here in a joint effort that leverages the polyfill part also mentioned above.  That obviously coupled with the issue GIS and batch geocoding.

[2018-01-12 01:51] jgravois opened #100 "refactor demos/vanilla sample to demonstrate popup:false as well"
i did a little bit of head scratching this afternoon and i still can't figure out exactly how we want browser developers to implement OAuth2 when they _don't_ want to use a popup.

it'd be cool to tweak our [existing sample](https://github.com/Esri/arcgis-rest-js/tree/94edc2a1d3110d448fd7abe8367812deccbc7647/demos/vanilla) so that it can be toggled to demo both or just write a new one.

[code]

[2018-01-12 03:23] mpayson commented on #97
fyi @phpmaps started to work on this [here](https://github.com/mpayson/arcgis-rest-js/tree/mp-batch-geocode/demos/batch-geocoder)

still need to:
- [ ] write results back to csv
- [ ] annotate
- [ ] (maybe) condense duplicate requests to save credits

[2018-01-12 16:57] jgravois commented on #97
cool! open up a PR whenever you're ready and i can take a deeper look.

[2018-01-12 18:05] phpmaps commented on #97
@mpayson way to go on this!  I started reviewing good use of config file.  I like how it's not just a JSON doc.  I am with @jgravois, a PR would be great.  The only thing I might say to update would be the last few lines, where it seems like there may be an unnecessary then() right before the catch.  I might consider putting the console log bit directly inside where promise.all resolves.

[2018-01-22 15:38] jluna opened #101 "Incorrect path for "browser" field in package.json"
### Problem
When building a bundle with `browserify`, I received the very unhelpful error message that the module could not be found even though it was installed in `./node_modules` via npm.

`Error: Cannot find module './node_modules/@esri/arcgis-rest-auth'`

### Solution
After much confusion, poking, and prodding. I realized that the "browser" path hint in `package.json` was pointing to the wron

[2018-01-22 15:56] jgravois commented on #101
thanks for the heads up @jluna! are you interested in submitting a Pull Request with the fix?

[2018-01-24 22:53] dbouwman opened #104 "Inconsistent signatures..."
`searchItems` and `searchGroups` signatures are inconsistent;

`searchItems(search: string | ISearchRequestOptions) : Promise<ISearchResult>` has one arg...
and `ISearchRequestOptions` contains a `searchForm`...

where as `searchGroups` takes the `searchForm` as the first arg.

`searchGroups(searchForm: IGroupSearchRequest, requestOptions: IRequestOptions)`

Either is fine, but consistency makes t

[2018-01-24 23:26] mpayson commented on #97
updated and first pr, would love to hear your feedback!

#105

[2018-01-24 23:38] jgravois commented on #104
assigning to myself. i'd like to reorganize the way actual search parameters are supplied entirely.

[2018-01-24 23:50] #101 closed

[2018-01-29 18:16] JeffJacobson opened #106 "Portal / AGOL only or also ArcGIS Server"
So far it seems this project only contains code for calling Portal or ArcGIS Online. Will support for [ArcGIS Server services](https://developers.arcgis.com/rest/services-reference/get-started-with-the-services-directory.htm) be added at some point, or is that beyond the intended scope of this project?

At the moment, I am tasked with creating a JavaScript application that will call the [Esri Line

[2018-01-29 18:29] jgravois commented on #106
we currently include support for calling ArcGIS Server geocoding services in the [`arcgis-rest-geocoder`](https://github.com/Esri/arcgis-rest-js/tree/master/packages/arcgis-rest-geocoder) package. the next thing we have our eyes on are packages for querying, editing and administering feature services, whether they're published to ArcGIS Enterprise _or_ ArcGIS Online.

i'd be happy with either choi

[2018-01-29 18:31] tomwayson commented on #106
@JeffJacobson

Yes, we intend to add the capability to call feature service endpoints (see #46). However, beyond the initial API design no work has been done to my knowledge. It's on my "before devsummit" todo list.

What @jgravois said re: fork vs depend on. Personally I'd lean towards you creating a new lib that depends on @esri/arcgis-rest-request.

[2018-01-29 18:33] JeffJacobson commented on #106
OK, I'll make a new lib and reference @esri/arcgis-rest-request.
Thanks.

[2018-01-29 18:43] JeffJacobson opened #107 "FYI: existing type definitions"
A while ago I contributed the [@types/arcgis-rest-api type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/arcgis-rest-api) to the DefinitelyTyped repository. If they meet your needs you could use these instead of creating them from scratch. (Available via NPM [here](https://www.npmjs.com/package/@types/arcgis-rest-api))

I have another version with additional typ

[2018-01-29 23:33] jgravois commented on #107
very cool!

this is really similar to the [`arcgis-rest-common-types`](https://github.com/Esri/arcgis-rest-js/blob/f12822cf57e8ab7e41867f17b243d676045588d5/packages/arcgis-rest-common-types/src/index.ts) package we started stubbing out.

we could certainly link out and promote your additional typings, but my first instinct is that it'd be good to combine forces. would you be interested in that?

[2018-01-29 23:41] JeffJacobson commented on #107
Yeah, that sounds good. Seems like it would be best to just copy the types I made into your project rather than linking out to the `@types` ones, so they would be kept all in a single location.

[2018-01-29 23:49] tomwayson opened #108 "IE11 breaks w/o a fetch() polyfill even when supplying my own fetch() implementation"
Based on #39, I would expect that if my app is running in some 💩 browser that doesn't support the frickin Internet, I could pass in an implementation of `fetch()` _without actually having to polyfill it_.

However the call to `.bind()` on this line requires a global `fetch()` to exist, regardless of whether or not you intend to use it:
https://github.com/Esri/arcgis-rest-js/blob/f12822cf57e8ab7e41

[2018-01-31 18:01] patrickarlt commented on #108
I'll tackle fixing this.

[2018-01-31 18:23] tomwayson commented on #108
Thanks @patrickarlt but I think I can help, if not implement it myself - I have a real-world bug in our production app.

Really what I wanted to find out by opening this issue is to verify my assumptions:
- we want to allow consumers to use this library w/o a polyfill if they have a `fetch()` implementation
- ditto for `Promise`

If that's the case I can make a PR w/ those

[2018-01-31 18:38] patrickarlt commented on #108
@tomwayson the only reason we check for `Promise` is because `Promise` is required by `fetch`. So your custom `fetch` still needs to return a standard `Promise` which will you will still need a global `Promise` polyfill for.

If your custom `fetch` returns something "Promise-like" it can be a little hard to check for since you technically don't need promise but it could cause a lot of false positi

[2018-02-01 14:20] tomwayson opened #110 "check for error _before_ parsing response as JSON/text/whateves"
It seems to me that we need a `response.ok` check before this `switch`:

https://github.com/Esri/arcgis-rest-js/blob/f12822cf57e8ab7e41867f17b243d676045588d5/packages/arcgis-rest-request/src/request.ts#L175-L190

The same way ember-arcgis-portal-services does here:

https://github.com/Esri/ember-arcgis-portal-services/blob/master/addon/mixins/service-mixin.js#L90-L108

What happens now is that the

[2018-02-01 16:28] patrickarlt commented on #110
Seems reasonable to me.

[2018-02-01 16:51] patrickarlt commented on #110
Since I had to know about why this happens according to https://www.tjvantoll.com/2015/09/13/fetch-and-errors/ and https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Checking_that_the_fetch_was_successful `fetch` only rejects the promise when a network error is encountered. So you still have to check `response.ok` and return a `Promise.reject(response)` if the response is not o

[2018-02-01 17:15] #56 closed

[2018-02-02 23:09] #108 closed

[2018-02-08 01:59] #106 closed

[2018-02-16 23:25] jgravois opened #114 "introduce support for aborting/timing out requests"
when i started exploring what it would look like for esri leaflet to use this lib i was reminded that we allow developers to pass their own (optional) timeout (ref: https://github.com/Esri/esri-leaflet/pull/730)

a `fetch` can also be aborted using the technique below (in [Edge](https://developer.mozilla.org/en-US/docs/Web/API/AbortController#Browser_compatibility) and [Firefox](https://developer.

[2018-02-18 04:31] tomwayson commented on #46
finally working on this. - I'm thinking of going w/ `arcgis-rest-features` what say ye?

[2018-02-18 15:42] tomwayson commented on #46
I was thinking that would have been a nice terse name for a module that works w/ features (query, CRUD, etc). However, I wasn't thinking about the `getServiceInfo()`, `getLayerInfo()`, etc, which I think should be grouped w/ the query/CRUD fns, but seem a bit out of place under that name.

So I'm going to go back to something more along the lines of @noahmulfinger's proposal, but just make it: `ar

[2018-02-20 05:57] tomwayson opened #116 "add demo for @esri/arcgis-rest-feature-service"
In addition to serving as a demo for @esri/arcgis-rest-feature-service, this will be shown in the  DevSummit session.

@dbouwman [suggests a vanilla JS demo](https://github.com/ArcGIS/Hub/issues/101#issuecomment-363862325) since that would have the least amount of moving parts. So I could do a search box and table for a small feature service, but I don't want to get into paging, sorting, etc in va

[2018-02-21 04:24] tomwayson commented on #114
In ember-cli-cedar [we use Promise.race()](https://github.com/Esri/ember-cli-cedar/blob/3ab2e22b631d5866a5b6f2d94883129525da4281/addon/components/cedar-chart/component.js#L86). I always thought that was an RSVP-only thing, but looks like it [might be in other promise implementations](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/race)?

[2018-02-21 05:23] tomwayson commented on #107
@JeffJacobson this is awesome - I'm starting to recreate some of these - and I don't want to.

No matter what we decide, I think the main thing is to eliminate any duplication of error.

I'll be the first to admit that I'm mystified by TS best practices, I thought DefinitelyTyped was out, and `npm i @types/whateves` was in. Now it appears you're telling me _they are the same thing_.

 -->Mind blow

[2018-02-22 16:53] tomwayson commented on #107
OK, wish I had done a quick google search on this before my previous comment. Turns out, [If your package is written in TypeScript then you should publish the types w/ your package](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html), so I'm going to PR @JeffJacobson's types to arcgis-rest-common-types - at the very least the ones I'll need for the new package for manag

[2018-02-22 21:49] noahmulfinger opened #117 "User params are getting overridden"
Packages affected:
- \@esri/arcgis-rest-items
- \@esri/arcgis-rest-groups

Many of the functions in these two packages are setting `requestOptions.params` without including the params that may have been originally passed in by the user.

Here's an example:
https://github.com/Esri/arcgis-rest-js/blob/7d9a593ba1f39992bbaba57fa2cfa73f725731d4/packages/arcgis-rest-items/src/items.ts#L242-L249

Any par

[2018-02-22 21:53] #97 closed

[2018-02-22 21:54] noahmulfinger opened #118 "updateItemResource() in arcgis-rest-items has flipped parameters"
See code here:
https://github.com/Esri/arcgis-rest-js/blob/7d9a593ba1f39992bbaba57fa2cfa73f725731d4/packages/arcgis-rest-items/src/items.ts#L324-L338

The value of `fileName` should be `requestOptions.name` and the value of `text` should be `requestOptions.content`

[2018-02-22 22:04] jgravois commented on #118
ugh. i wish i was more surprised that i screwed that one up.

[2018-02-22 22:31] #118 closed

[2018-02-23 00:45] JeffJacobson commented on #107
Sounds good.

[2018-02-23 01:40] tomwayson opened #122 "rename geocoder's serviceInfo()"
`serviceInfo()` is too generic a name for something that's going to default to the world geocoder url:

https://github.com/Esri/arcgis-rest-js/blob/2c05a283eac89a94732394ffc3aca8ddcbc18065/packages/arcgis-rest-geocoder/src/geocoder.ts#L387

I suggest `getGeocoderService()` or `getGeocoderServiceInfo()`.

We can rename it and stub in a new fn w/ the old name that shows a deprecation warning until t

[2018-02-23 19:49] #117 closed

[2018-02-23 20:33] jgravois opened #123 "changelog script throws fatal error when backticks are encountered in a commit message"
trying to tag `v1.0.3` i encountered the error below

[code]

i'm scratching my head at how to debug this and genuinely afraid of wreaking unnecessary havoc by employing my usual method.

![changing stuff](https://pbs.twimg.com/media/Cf7eHZ1W4AEeZJA.jpg)

[2018-02-23 20:40] patrickarlt commented on #123
@jgravois huh ill take a look likely something about https://github.com/Esri/arcgis-rest-js/blob/master/support/changelog.js#L77

[2018-02-23 21:31] patrickarlt commented on #123
Turns out replacing escape characters is hard. All 3 of these options work on https://github.com/Esri/arcgis-rest-js/blob/master/support/changelog.js#L77

1. <code>JSON.parse("["+stdout.slice(0, -1).replace(/\\/g, "\\\\")+"]")</code> - Note you have to escape each escape character in the second arg of `replace`.
2. <code>JSON.parse("[" + stdout.slice(0, -1).split('').map(s => s.charCodeAt(0)).map(

[2018-02-23 21:48] #123 closed

[2018-02-23 21:49] jgravois commented on #123
the wizard meant.
[code]

thank you!

[2018-02-25 16:35] tomwayson opened #128 "peerDependencies should treat arcgis-rest-request as external"
As far as I understand, we're implementing packages like -geocoder, -items, -groups, -feature-service, etc as plugins of arcgis-rest-request using `peerDependencies`, right? However, the UMD builds currently do **not** treat arcgis-rest-request as external, so it is bundled in the UMD build of each package. I discovered this while creating the demo for arcgis-rest-feature-service:

https://github.

[2018-02-25 16:36] #62 closed

[2018-02-25 17:15] tomwayson commented on #46
@noahmulfinger @jgravois

After #126 the last couple functions I want to add before the initial release of a "read-only" `@esri/arcgis-rest-feature-service` are the functions to get the feature service info and (i.e. `/?f=json`) and the layer info (i.e. `/0?f=json`).

I think we should figure out the naming convention for these types of functions.

I've actually already written `getLayerInfo(url,

[2018-02-26 17:42] #66 closed

[2018-02-27 17:30] jgravois commented on #128
this can wait till after DevSummit, but _the man has a point_.

[2018-02-28 00:40] #128 closed

[2018-02-28 06:05] #116 closed

[2018-02-28 06:08] tomwayson commented on #107
closing as this was resolved in #121 - thanks again @JeffJacobson!

[2018-02-28 06:08] #107 closed

[2018-02-28 08:10] richardhinkamp opened #132 "Remove tsconfig.json from published npm packages"
Hi I installed several packages through npm and they all contain a `tsconfig.json` which contains `"extends": "../../tsconfig.json"`. This points to `node_modules/tsconfig.json` which does not exist. I guess the `tsconfig.json` should not be included in the npm package?

[2018-02-28 21:12] patrickarlt commented on #114
@tomwayson `Promise.race()` is standard. @jgravois it would be trivial to do timeouts with `Promise.race()` and `timeeout` could just be another standard request option.

[2018-02-28 21:35] #132 closed

[2018-02-28 21:51] patrickarlt commented on #114
@jgravois digging through some issues on this I think we might just be able to add https://github.com/mo/abortcontroller-polyfill/ to do cancelable requests. Basically:

1. Add `signal` to `requestOptions`.
2. Pass `signal` down to fetch.
3. If a user wants to enable cancelable requests in their application they should:
   1. Import their `Promise` and `fetch` polyfills
   2. Import `abortcontroll

[2018-03-01 03:56] tomwayson opened #135 "distribute unminified files"
anyone object? I think pulling in the minified files in ember addons is causing slow builds. we're still working on configuring ember to not try and minify the pre-uglfied files, but I wondered if anyone had a reason to **not** distribute them?

cc @patrickarlt @dbouwman @jgravois

[2018-03-01 04:32] jgravois commented on #135
fine by me.

[2018-03-01 06:16] tomwayson commented on #46
For consistency w/ #134 I suggest:

[code]

[2018-03-01 06:35] #110 closed

[2018-03-01 06:44] noahmulfinger commented on #46
@tomwayson The way you set up the functions listed at the bottom looks good to me. Defaulting to GET makes sense, and having an `IFeatureService` interface matches up with the function names.  I don't have a strong opinion on whether to add `Info`.

In the admin package, I'm also adding
[code]

Not super happy with just tacking on Admin, but can't think of a better way.

[2018-03-01 16:33] patrickarlt commented on #135
@tomwayson the ESM and Node files aren't minified anyway only the UMD files. Is there any way to try to pull the compiled ESM modules into Ember? The only downside I can see to not minifying the UMD modules is the filesizes on the CDN would be larger.

[2018-03-01 16:35] jgravois commented on #135
@tomwayson you were suggesting shipping _both_ right?

https://unpkg.com/leaflet@1.3.1/dist/leaflet-src.js
https://unpkg.com/leaflet@1.3.1/dist/leaflet.js

[2018-03-01 17:22] tomwayson commented on #135
So, I looked at [specifying `output` as an array](https://rollupjs.org/guide/en#configuration-files) to generate multiple files from the same config, but it turns out we're quite a few versions behind of rollup, and we don't even use the `input`/`output` options. I don't think it's a good idea to mess w/ that now. Of course we could do what I do in cedar, which I think I stole from leaflet, which

[2018-03-01 17:31] tomwayson commented on #46
FYI - that's what we do in Hub, we have several cases of a `fooBar` service w/ an associated  `fooBarAdmin`. The semantics feel a bit awkward to me, but the responsibilities of each service are totally clear. So that works for me.

[2018-03-01 17:39] jgravois opened #136 "upgrade rollup to v0.56.3"
ref: https://github.com/Esri/esri-leaflet/pull/1054/commits/76236f440d26f0e078a7e69d706eeabb1012b8cb

[2018-03-01 18:16] jgravois commented on #135
ember needs or not, i think we should be shipping an un-minified UMD too to make downstream debugging easier. even with a sourcemap, variable names don't resolve when loading the obfuscated build.

![screenshot 2018-03-01 10 14 55](https://user-images.githubusercontent.com/3011734/36861667-67b97b5a-1d39-11e8-8c95-b8e453034bfc.png)

[2018-03-01 18:35] jgravois opened #137 "v2.0.0 checklist"
a list of breaking changes that we _could_ group together. feedback welcome.

- [ ] ~~drop the 'r' from `arcgis-rest-geocoder`?~~
- [ ] ~~drop the 's' from `arcgis-rest-items`?~~
- [ ] ~~drop the 's' from `arcgis-rest-groups`?~~
- [ ] ~~rename `arcgis-rest-common-types` to `arcgis-rest-common` and move the growing collection of shared utility methods in [`request`](https://github.com/Esri/arcgis-r

[2018-03-01 19:06] jgravois opened #139 "test the additional branch within arcgis-rest-feature-service"
💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯💯
<img width="940" alt="screenshot 2018-03-01 11 05 52" src="https://user-images.githubusercontent.com/3011734/36864101-88738b36-1d40-11e8-84a3-410cbd1b5e1f.png">

[2018-03-01 21:04] dbouwman commented on #135
@tomwayson this is not critical path at all - I was really just using this time to poke at this before we all convene in Palm Springs, so if I hit any ZOMG show-stoppers we can puzzle it out face-to-face.

That said - right now the build time on the `torii-provider-arcgis` dummy app is > 5 minutes, and it just has the `request` and `auth` modules included.

I'll also echo @jgravois that debugging

[2018-03-01 21:14] dbouwman commented on #135
In contrast - before adding those modules, the build is 16s

[2018-03-01 21:20] patrickarlt commented on #135
I don't think we really have to worry about the size difference of minified vs unminified. Right now almost every module is ~2kb or less so shipping both isn't a problem.

@dbouwman I'm more tempted to call this an ember bug then anything else. Why would including minified code in a project ballon the build time 100x but unminified code not?

[2018-03-02 00:52] dbouwman commented on #135
@patrickarlt tbh - I have no idea why, but adding them def causes this increase. I'm going to npm-link things up later this evening, and see if the un-minified version solves this... it may well be some other O_o broccoli-ember-mystery-meat that's the cause :)

[2018-03-02 04:30] #122 closed

[2018-03-02 19:23] Biboba opened #142 "ignored parameters in processParams"
Hi,

Working on esri-leaflet tests migration to arcgis-rest-js library [(#1054)](https://github.com/Esri/esri-leaflet/pull/1054), I noticed that some params were filtered in the processParams method.
For example a request with integer 0 as a value is ignored in processParams method:
https://github.com/Esri/arcgis-rest-js/blob/e9297ff38c7f651b82755b1dfbec7495398eac96/packages/arcgis-rest-request/sr

[2018-03-02 19:25] jgravois commented on #142
great catch @Biboba. (ref: https://github.com/Esri/esri-leaflet/issues/946)

[2018-03-02 23:13] jgravois opened #144 "should default tokens be valid for 2 weeks?"
https://github.com/Esri/arcgis-rest-js/blob/4b1544f8b788573137d3519718ab1869eefd17a2/packages/arcgis-rest-auth/src/UserSession.ts#L248

that seems like a _long_ time.

[2018-03-03 17:10] patrickarlt commented on #144
Yes?

In my experience talking with other devs they generally want their users to stay signed in for as long as possible by default. This also doesn't make the token last 2 weeks by default. I think a shorter expiration token gets returned if the user doesn't check the remember me box. I also think users can configure their custom portals to return shorter sessions by default.

[2018-03-03 19:31] #100 closed

[2018-03-03 19:57] #136 closed

[2018-03-03 19:57] #135 closed

[2018-03-04 00:19] #139 closed

[2018-03-04 00:20] jgravois commented on #139
`v1.1` here we come!

[2018-03-04 00:59] jgravois opened #147 "add info about 'npm run c' to CONTRIBUTING.md"
our changelog parser zeros in commit message formatting that is generated by the command `npm run c` to categorize chores, bug fixes, features and breaking changes.

we need to advertise this to new contributors (and old grizzly bears like @tomwayson)

[2018-03-04 01:13] tomwayson commented on #147
so just for clarity, for a PR like https://github.com/Esri/arcgis-rest-js/pull/131, if I had run `npm run c` on the first commit, but then gotten feedback in review that required changes that would affect the message, the right thing to do would have been a rebase and squash and pushed to the same PR, right?

[2018-03-04 01:48] tomwayson opened #148 "update feature-service README"
At the very least point to https://esri.github.io/arcgis-rest-js/api/feature-service/

Also prob should add peer deps to `npm install`, maybe just the min required which is -request.

[2018-03-04 01:49] tomwayson opened #149 "release:prepare doesn't use today's date for the changelog"
Seems to me like it should.

[2018-03-04 01:54] tomwayson opened #150 "release:publish doesn't publish anything w/o follow up command to force it"
Seems like lerna thinks we've already released, b/c I see this in the output:

[code]

I am able to publish w/

`lerna publish --skip-git --repo-version x.x.x --force-publish=*`

I suspect this is something we're going to have to do every time the way the scripts are currently set up, not just on the "[off chance](https://github.com/Esri/arcgis-rest-js/tree/master/notes#release-system)."

[2018-03-04 02:03] jgravois commented on #147
i think that the fact that the changelog parser ignores the extra commits means that its _less_ important to squash. either way though.

[2018-03-05 07:16] Biboba commented on #142
Thanks @jgravois for the quick fix.
Unfortunately, false params are still filtered:
returnM=false for example is not sent.

Thanks

[2018-03-05 15:52] jgravois commented on #142
wow. sorry about that! i didn't look closely enough at the test that was already in there.

https://github.com/Esri/arcgis-rest-js/blob/1173a88db7d4383cb70acfac570078f4d7c6e0e6/packages/arcgis-rest-request/test/utils/process-params.test.ts#L80-L90

[2018-03-05 16:58] tomwayson opened #151 "We're not distributing types in @esri/arcgis-rest-common-types"
Trying to use @esri/arcgis-rest-feature-service in a typescript app (cedar) and I got this build error:

[code]

Turns out the only thing we distribute in @esri/arcgis-rest-common-types is packge.json and README.md

![image](https://user-images.githubusercontent.com/662944/36988184-16d5382e-2053-11e8-86a8-34d431739c96.png)

https://unpkg.com/@esri/arcgis-rest-common-types@1.1.0

[2018-03-05 17:10] tomwayson commented on #151
`npm run bootstap` _does_ output dist/index.ts

[2018-03-05 17:16] jgravois commented on #151
i introduced this in 52043f5b702aca699f62abf8054582286e258ba5

https://github.com/Esri/arcgis-rest-js/blob/1173a88db7d4383cb70acfac570078f4d7c6e0e6/packages/arcgis-rest-common-types/package.json#L8

[2018-03-05 17:25] tomwayson commented on #150
maybe we just add `--force-publish=*` to

https://github.com/Esri/arcgis-rest-js/blob/master/support/publish.sh#L25

[2018-03-05 17:33] jgravois commented on #150
i pushed an additional commit to add the flag in #152, but lets leave this issue open until the problem is actually _fixed_.

[2018-03-05 18:13] jgravois opened #154 "doc: IAuthenticationManager API ref page should link to UserSession and ApplicationSession"
so that links like [`IRequestOptions.authentication`](https://esri.github.io/arcgis-rest-js/api/geocoder/IGeocodeRequestOptions/#authentication) are less of a dead end.

[2018-03-05 18:33] #142 closed

[2018-03-05 18:33] #151 closed

[2018-03-06 23:20] hhkaos opened #157 "Async jobs pulling"
From [the talk at the DevSummit](https://tomwayson.github.io/devsummit-2018/arcgis-rest-js.html#/), this idea was suggested.

Cheers! ;)

[2018-03-06 23:59] jgravois commented on #157
thx @hhkaos! i'm glad you did this!

[2018-03-12 20:07] jgravois commented on #144
fair enough. [`OAuthInfo`](https://developers.arcgis.com/javascript/latest/api-reference/esri-identity-OAuthInfo.html#expiration) implements the same default.

[2018-03-12 20:07] #144 closed

[2018-03-13 16:31] patrickarlt commented on #96
Here is some sample css from the developers site that probably fixes this. Just swap `.usertext` for `code` and make this apply to all tables.

[code]

[2018-03-13 16:57] patrickarlt commented on #96
Calcite Web issue https://github.com/Esri/calcite-web/issues/888.

[2018-03-16 18:55] jpeterson opened #159 "IUser"
It would be useful to have a method/primitive that expresses an **ArcGIS User**. This feels similar to the `IPortal` and `getSelf()` method in `arcgis-rest-request`.

Note that an `IPortal` returned by `request.getSelf()` includes a `user` property, but this object doesn't appear to be a fully-qualified **User** per the REST API spec.

**User spec**
https://developers.arcgis.com/rest/users-groups-

[2018-03-18 13:11] tomwayson commented on #159
Yeah, we should expose a `getUser()` method, and define an `IUser` interface that basically wraps the above call. The question is what package?

[2018-03-18 14:00] jpeterson commented on #159
For what its worth, I first went looking for it in `arcgis-rest-auth`'s `UserSession` class.

But as I thought about it, this feels almost directly analogous to `arcgis-rest-request`'s `IPortal` and `getSelf()`/`getPortal()` methods. In the same way, I would expect to be able to fetch the currently logged in user as well as other users (by username). Worth noting that the shape of the object retur

[2018-03-19 03:14] jgravois commented on #159
my first instinct is to put it in `arcgis-rest-auth`.

[2018-03-20 23:21] jgravois opened #161 "failure to fetch a token for hosted services associated with a portal"
in testing #160 i _think_ i uncovered another bug.

[code]
snooping the traffic i noticed that its the last parameter in the request below that induces the error.
[code]

i'm pretty sure this is because hosted datastores are _not_ federated the same way standalone versions of ArcGIS Server might be.

this can be fixed by making the check inside [`UserSession.getToken()`](https://github.com/Esri/ar

[2018-03-21 15:33] tomwayson commented on #159
I feel like we need a new package (@esri/arcgis-rest-users) to manage users. It would have `getUser()` and other functions for all the operations under the ["Community - User" left nav here](https://developers.arcgis.com/rest/users-groups-and-items/user.htm).

`IUser` itself will probably end up in common types and shared amongst the auth and groups packages.

[2018-03-27 23:37] jgravois commented on #96
the problem isn't isolated to `<code>` blocks. proposed fix (from a certified css hack) in #163

[2018-03-28 20:03] jpeterson opened #164 "Using arcgis-rest-request when Portal is HTTPS only"
I'm seeing some odd behavior when using the `request` method against an organization which has been configured to allow HTTPS only.

Given the following snippet:
[code]

If the organization has been configured for HTTPS only, I'm seeing the following network request:

[code]

Where the expected request is this:
[code]

This results in an error: `User does not exist or is inaccessible.`

### Releva

[2018-03-29 19:54] noahmulfinger opened #165 "Decode usernames when doing OAuth login"
Usernames with an `@` symbol are returned from OAuth logins with `%40`. You can test this by creating an account with an `@` symbol in the username and using the oauth2-browser demo.

To fix, we should be able to just call `decodeURIComponent()` when we parse out the username here:

https://github.com/Esri/arcgis-rest-js/blob/3650bd242185024238cfc4630fc77bdd4bfcef3a/packages/arcgis-rest-auth/src/U

[2018-03-29 22:25] #149 closed

[2018-03-30 19:08] jgravois commented on #164
this looks an awful lot like the bug i fixed way back in #143 and i can't repro against `master`

[code]
![screenshot 2018-03-30 11 59 27](https://user-images.githubusercontent.com/3011734/38150019-d69c61a6-3411-11e8-972f-672db982dfbe.png)

can you test with our [`oauth2-browser`](https://github.com/Esri/arcgis-rest-js/tree/master/demos/oauth2-browser) to see whether it says your username is `jpet

[2018-03-30 20:05] jpeterson commented on #164
Gah. Super major big apologies... updating to v1.1.1 and **it works as expected**.

Thanks @jgravois

[2018-03-30 20:15] jgravois commented on #164
no worries man. my favorite :bug: is one that i already fixed.

[2018-03-30 20:15] #164 closed

[2018-03-30 20:16] #165 closed

[2018-04-05 20:41] noahmulfinger opened #171 "IItem interface shouldn't require properties except id, owner"
The `IItem` interface currently requires:
[code]
This is an issue in functions like `updateItem`, which requires an `IItem` be passed in. So any call to `updateItem` must include the listed properties. I think it makes sense to just require `id` and `owner`, because these are generally needed to access the item's endpoint, but the rest should be optional. If a function requires an additional prope

[2018-04-05 21:06] jgravois commented on #171
that sounds fine to me.

[2018-04-10 17:37] jgravois opened #172 "move from @esri to @arcgis npm namespace"
[`@esri/arcgis-rest-request`](https://www.npmjs.com/package/@esri/arcgis-rest-request) > [`@arcgis/rest-request`](https://www.npmjs.com/org/arcgis)

[2018-04-10 17:39] #159 closed

[2018-04-11 04:41] tomwayson commented on #172
or will @arcgis be reserved for products and/or official SDKs?

[2018-04-12 04:03] chakreshsahu opened #173 "run express app behind the corporate proxy"
When i am trying to run demo express application behind the corporate web proxy and visit http://localhost:3000/authorize. It redirect to the browser to portal's authorization url. After entering the credentials, it is giving following error.

[code]

But when i try to run application in without corporate web proxy environment. It is working fine.

Please suggest a way to pass proxy url in request

[2018-04-12 14:12] dbouwman commented on #173
When running in node or the browser, arcgis-rest-js uses `fetch` behind the scenes to make requests. Any requests sent from a browser will use the browse's proxy settings. But for node, apparently we need to pass proxy information to `fetch` via the `agent` property of it's [options](https://github.com/bitinn/node-fetch#options).

The recommendation also appears to be to use [http-proxy-agent](htt

[2018-04-16 09:51] richardhinkamp opened #174 "Fetching token service url fails"
I need to export some data to an ArcGIS system with the REST API. I created a developer account and got the code working on my ArcGIS Online account fairly simple. When using the REST endpoint provided by our customer, things didn't work, so I tried to find out what went wrong:

Like this:

[code]

Because of the authentication, in `request()` it calls `authentication.getToken(url)`.
I did not pro

[2018-04-26 22:52] jgravois commented on #174
thanks for the detailed feedback @richardhinkamp!

you've caught us out on the fact that this library doesn't currently provide a wrapper to help authenticate against an instance of ArcGIS Server which isn't [**federated**](http://enterprise.arcgis.com/en/portal/latest/administer/linux/federate-an-arcgis-server-site-with-your-portal.htm).

we could (and should) do something very similar to your ha

[2018-04-27 15:14] COV-GIS opened #176 "What's status on adding feature operations add, update and delete?"

[2018-05-01 00:04] jgravois opened #179 "get coverage back to 100"
**99.4** _just isnt good enough_.

[2018-05-01 21:00] noahmulfinger opened #180 "getPortalUrl doesn't use requestOptions.portal"
The IRequestOptions interface has a `portal` property but getPortalUrl only checks for a portal url from the authentication object. So unauthenticated requests are forced to go through `https://www.arcgis.com/sharing/rest`.
https://github.com/Esri/arcgis-rest-js/blob/130732978d456dfa1250c18dd25fd498ab44ddac/packages/arcgis-rest-request/src/utils/get-portal-url.ts#L12-L21

[2018-05-01 21:06] jgravois commented on #180
good catch.

we do the right thing with [`owner`](https://github.com/Esri/arcgis-rest-js/blob/130732978d456dfa1250c18dd25fd498ab44ddac/packages/arcgis-rest-items/src/items.ts#L284) in "@esri/arcgis-rest-items", by giving what's hanging off requestOptions directly precedence over what can be gleaned from the session.

[2018-05-02 21:30] noahmulfinger opened #183 "searchItems function ignores some properties in request options"
`searchItems` creates its own options object, so properties like `portal` are ignored.

https://github.com/Esri/arcgis-rest-js/blob/20296abf9ec64f89785b6f8766cb2a3f9b0d9cfc/packages/arcgis-rest-items/src/items.ts#L106-L128

[2018-05-02 23:09] jgravois commented on #150
@noahmulfinger took another look at this today.

he has me convinced that the force flag is _the right thing to do_&trade; given that we call:

[code]
immediately beforehand via `npm run release:prepare`.

this is so we can bump individual module `package.json` version numbers and generate updates to the CHANGELOG _prior_ to executing the actual release.

[2018-05-02 23:09] #150 closed

[2018-05-08 12:59] tomwayson commented on #171
So is that all of the ones listed above, or just `id` and `owner`?

[2018-05-09 16:52] jgravois opened #188 "bump git-cz when support for --allow-empty lands"
to be as friendly as possible to first time contributors.

https://github.com/commitizen/cz-cli/issues/476

[2018-05-09 22:02] jgravois commented on #172
i'd also really like to make the built filenames less _verbose_.

[code]

[2018-05-10 17:36] #171 closed

[2018-05-10 23:00] #183 closed

[2018-05-11 19:07] jgravois opened #190 "add code snippets to API reference for feature-service CRUD methods"

[2018-05-14 23:03] #172 closed

[2018-05-14 23:16] #190 closed

[2018-05-15 15:38] tomwayson opened #196 "Peer dependencies out of sync"
https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-feature-service/package.json#L17-L24

This seems like something we need to fix ASAP and cut a new release.

[2018-05-15 15:55] tomwayson commented on #196
Hrm.... maybe not https://github.com/lerna/lerna/issues/1018

I guess we should only be updating the peer deps that rely on the changes in 1.2.0?

[2018-05-15 15:59] jgravois commented on #196
i wonder what was keeping them in sync before...

[2018-05-15 20:35] dbouwman opened #198 "v1.2.0 Broke Semver: UMD output file names changed"
It seems that the umd package naming changed, perhaps at the 1.2 release, and given how the libraray can be used, that should incur a major version bump.

Additionally, the `arcgis-rest-request` and  `arcgis-rest-feature-service` packages still include the OLD umd files

![image](https://user-images.githubusercontent.com/119129/40082104-39d3dee8-584d-11e8-9924-8d46954f3358.png)

I recommend we re-

[2018-05-15 20:56] dbouwman commented on #198
Update: we should yank the 1.2.0 release as well

[2018-05-15 21:16] jgravois commented on #198
that was my fault. after i tidied up for the release i accidentally ran a build on an old branch and forgot to clear the output before i published to npm.

i'm fine with publishing v2.0.0, but my preference would be to tackle a few of the other breaking changes i listed in #137 before we do, mostly because none of them warrant a breaking change release of their own.

[2018-05-15 23:01] #198 closed

[2018-05-16 18:44] tomwayson commented on #198
FYI - I've [deprecated](https://docs.npmjs.com/cli/deprecate) the 1.2.0 packages.

[2018-05-16 19:28] jgravois commented on #196
i manually [synchronized](https://github.com/Esri/arcgis-rest-js/blob/v1.2.1/packages/arcgis-rest-auth/package.json) in `v.1.2.1`

[2018-05-16 19:28] #196 closed

[2018-05-16 19:30] tomwayson commented on #196
I was wondering how they got back in sync.

[2018-05-17 21:38] jgravois opened #201 "investigate setting strictNullChecks: true in tsconfig.json"
if this is possible, some refactoring will be necessary to resolve its complaints ([reference](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html))

[code]

[2018-05-22 19:25] haoliangyu opened #203 "supplying my own fetch implementation doesn't work at node"
The documentation does not say I cannot provide my own `fetch` implementation at node. So I try

[code]

then it throws an error

[code]

My node version is v8.11.1 and it does not seem to like the undeclared variable `fetch`.

[2018-05-23 17:41] jgravois commented on #203
i can repro this. the only way i could use this lib w/ `node-fetch` successfully was via the global:

[code]

[2018-05-24 18:17] #43 closed

[2018-05-28 19:54] jgravois opened #208 "create mechanism to share login info w/ JSAPI"
for lazy loading workflows. ie. transitioning from non-map > map UI.

@noahmulfinger are you guys already doing this in your vector file editor?

[2018-05-29 15:04] patrickarlt commented on #208
@jgravois for they style editor we have a method that looks like:

[code]

I do like the idea for bi-directionally that @qlqllu mentioned. I think the rough equivalent would be:

[code]

[2018-05-29 17:42] patrickarlt commented on #137
@dbouwman I feel like you are conflating up a problem with the docs vs a problem with the library. We all argued endlessly about multiple function params vs a single object params in https://github.com/Esri/arcgis-rest-js/issues/73 and https://github.com/Esri/arcgis-rest-js/pull/78 and ultimately we all agreed that the single object param was probably the best way to go because it is to difficult

[2018-05-29 17:59] jgravois opened #209 "for interfaces that extend another, reorder properties in API reference pages"
currently we alphabetize the properties associated with an interface.

example: `url` and `updates` are listed last in [`IUpdateFeaturesRequestOptions`](https://esri.github.io/arcgis-rest-js/api/feature-service/IUpdateFeaturesRequestOptions/)

it'd be substantially easier to _grok the doc_ for the individual interfaces that extend `IRequestOptions` in particular if we consistently used the followi

[2018-05-30 00:59] qlqllu commented on #208
I have an idea about the bi-direction sync:

Because the API is lazy load, so when the `IdentityManager` is first loaded, we can call an API in this lib to register the IdentityManager. In this register API, we can sync these two sign in info.

[2018-05-31 00:28] patrickarlt commented on #137
@dbouwman I haven't contributed in awhile but while digging through the docs today I think one area we could really improve is how we use the `options.params` key in the request options.

I originally intended `options.params` to be an escape hatch that would allow users to pass ANY param that we didn't wrap for them.

However it seems like `options.params` is also being subclassed so we can docum

[2018-06-05 01:11] tomwayson commented on #208
Maybe we can get some easy wins by starting w/ the low level helper fns that would later support a more comprehensive strategy for this.

For example: the `UserSession` could expose a `getRegisterTokenProperties()` fn that returns an object w/ the properties that `registerToken()` expects. Fortunately those properties seem to be the same between [3.x](https://developers.arcgis.com/javascript/3/jsa

[2018-06-06 17:00] jgravois commented on #159
@tomwayson and i _both_ ultimately got our way.

`v1.1.2` included this:

[code]
in `v1.4.0` we also introduced support for
[code]

[2018-06-10 22:30] jgravois opened #216 "custom geocoding services don't always require authentication."
case in point: https://cityofdetroit.github.io/geocode/

two suggestions:

1. only throw an error when auth is missing _and_ the url `===` our world geocoding service.
2. add a few more code snippets (and links to the appropriate API reference pages) to the package README.

[2018-06-12 23:50] #216 closed

[2018-06-14 13:58] #179 closed

[2018-06-15 19:17] tomwayson opened #223 "is beginOauth2 defaulting to the wrong portal?"
The docs say [the portal will default to https://www.arcgis.com/sharing/rest](https://esri.github.io/arcgis-rest-js/api/auth/IOauth2Options/#portal),

However, [`beginOAuth2()` actually defaults to https://arcgis.com/sharing/rest](https://github.com/Esri/arcgis-rest-js/blob/0878793cf3d2cdd05f7cdc39ede9802a415f8f85/packages/arcgis-rest-auth/src/UserSession.ts#L311)

I found when I used the default

[2018-06-16 14:36] tomwayson commented on #208
For completeness, I think we ought to add `fromCredential()`, though not exactly as I suggested [above](https://github.com/Esri/arcgis-rest-js/issues/208#issuecomment-394548269). I now think this should be a `static` method on `UserSession`, so:

[code]

Also, this makes me want to rename `session.getCredential()` to `session.toCredential()`, which should also help avoid any [potential confusion](

[2018-06-18 17:23] tomwayson opened #224 "Document how consuming apps can login when an unauthenticated request fails with an auth error"
The scenario that we want to support is to allow an unauthenticated user to make requests via any of the arcgis-rest-js fns (`getItem()`, `getItemDetails()`, etc) and only a the point when they request a secured resource, will they be prompted to log in.

This request is currently coming from @qlqllu but will likely be something that others who are familiar w/ the default behavior of [IdentityMana

[2018-06-18 17:55] dbouwman commented on #224
@tomwayson I think this is a good solution that _allows_ this flow, _without mandating_ it for all use cases. Nice work!

Since many `IdentityManager` acolytes will want/expect this, we could have a `arcgis-rest-browser` package that includes this, and which is only available for browser envs... not sure what level of 😱 that will induce in the build process though...

[2018-06-18 18:37] tomwayson commented on #224
Thanks @dbouwman

I think the implementation I'm planning above will be as minimal as we can get to support this, so I'd say we bake it right into arcgis-rest-request.

I think if we decide that we want to get into the business of supporting any further IdentityManager capabilities (i.e. provide a generalized, stateful store for credentials from multiple realms including portals, non-federated ser

[2018-06-18 20:32] patrickarlt commented on #224
@tomwayson @dbouwman There already is a mechanisum provided for this it just really isn't doc'ed anywhere, [`ArcGISAuthError.retry`](https://esri.github.io/arcgis-rest-js/api/request/ArcGISAuthError/#retry) so you can do this:

[code]

there is also a retry limit for how many times your retry handler can be called before it stops retrying.

[2018-06-18 20:40] patrickarlt commented on #224
There is also a pretty full test suite for this https://github.com/Esri/arcgis-rest-js/blob/2c05a283eac89a94732394ffc3aca8ddcbc18065/packages/arcgis-rest-request/test/utils/ArcGISAuthError.test.ts#L34-L166.

[2018-06-18 20:42] patrickarlt commented on #223
@tomwayson I think so. I think we should probably change this to https://www.arcgis.com/sharing/rest ASAP.

[2018-06-18 20:53] tomwayson commented on #224
nice @patrickarlt! I'll give that a try.

[2018-06-18 22:46] jgravois commented on #223
someone told me ages ago that we should always direct folks exclusively to the `www` variant of ArcGIS Online uri because somehow it provided the better performance (perhaps because of load balancing?).

that said, to my devops-foo lackin ears, the fact that omitting it results in a CORS error sounds like NGINX is misconfigured such that the relevant response headers aren't passed along in the red

[2018-06-18 22:51] jgravois commented on #208
agreed.

given that we haven't published a release yet, i'm all for it.

[2018-06-18 23:34] COV-GIS opened #226 "design methods for feature service attachments"
What do you think about this @jgravois and @tomwayson?

A single `attachments()` method with `operation` param for the 6 attachment ops and corresponding interfaces for the request params. Down and dirty example below obviously needs much, but for a conceptual start. Just an idea I had while thinking about possibly tackling attachments.

[code]

[2018-06-19 01:03] qlqllu commented on #224
This is great! Looking forward to this feature!

[2018-06-19 15:10] tomwayson commented on #208
yeah, i was very cognizant of the fact that we hadn't released this yet when I suggested renaming. :)

[2018-06-19 16:29] jgravois commented on #226
i think a terse, multi-operation supporting method could actually work quite well for attachments.

take a look at #214 though. we ended up updating the signatures for feature service methods to steer _away_ from defining custom `params` and extend `IRequestOptions` consistently instead.

[2018-06-19 16:41] patrickarlt commented on #224
@tomwayson `UserSession` already handles a lot of `IdentityManager` like trust scenarios like what you are talking about in https://github.com/Esri/arcgis-rest-js/issues/224#issuecomment-398153456.

Each `UserSession` keeps its own cache of `trustedServers` https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-auth/src/UserSession.ts#L241-L246 which it knows are federated with th

[2018-06-19 17:09] tomwayson commented on #226
We definitely want to steer away from custom params and do what we've done in #214. Specifically in this case that would mean removing `IAddAttachmentParameters` and adding `attachment?: File` to `IAttachmentsOptions`.

That begs the question though, should all of these operations share a single fn? I took a quick look at the corresponding REST APIs, and it seems to me that:
- [infos](https://deve

[2018-06-19 17:33] COV-GIS commented on #226
Thanks for the input. The single method idea came to me b/c I'm currently using a single `attachment` endpoint and request now for attachments. Perhaps a bit over simplified.

If you're amicable, I'll make a start as time allows, and ding you for thoughts and comments on my branch.

[2018-06-19 17:38] patrickarlt commented on #223
@jgravois I remembered where we ran into this in the Developers site. The `www` version is the only official documented and supported API. the non-`www` version is an old alpha/beta API that isn't supported but is kept around because apparently some legacy customer things still use it. There are some subtle differences between the 2 APIs like `created` vs `uploaded` for item creation dates.

In ge

[2018-06-19 18:03] tomwayson commented on #226
That would be awesome @COV-GIS!

To be clear, your input based on real-world use cases is very valuable. So if what I've suggested above, which is based entirely on reflecting the current REST API within the constraints we've come up w/ fn signatures, doesn't "feel" right to how you want to work w/ attachments, I welcome any suggestions for syntactic sugar.

Also, it looks like I got those constra

[2018-06-19 18:13] tomwayson commented on #226
Or better yet, instead of `IAttachementsOptions` just use the existing [IFeatureRequestOptions](https://esri.github.io/arcgis-rest-js/api/feature-service/IFeatureRequestOptions/) and have `IAttachmentOptions` extend that.

[2018-06-19 20:58] tomwayson commented on #224
@patrickarlt++ for thinking ahead. I agree that `IdentityManager`'s uber generic solution is overkill for most apps outside of the context of a webmap that may be pulling layers from who knows where.

I've [updated my auto-login demo](https://github.com/Esri/arcgis-rest-js/blob/5a0891b1d9cd9e4c5414b457bd5915c41fc908ae/demos/jsapi-integration/autologin.html) to [use arcgis-rest-js's built-in retry(

[2018-06-19 21:06] tomwayson commented on #208
Re-opening b/c of https://github.com/Esri/arcgis-rest-js/pull/227#issuecomment-398516658

Also, should we strip the `/sharing/rest` from [`this.portal` in `toCredential()`](https://github.com/Esri/arcgis-rest-js/blob/1ca31f7f454a46fd4230bf0635a166aa94f7dafa/packages/arcgis-rest-auth/src/UserSession.ts#L556)? It looks [like IdentityManager expects](https://developers.arcgis.com/javascript/3/jsapi/i

[2018-06-19 21:19] tomwayson opened #228 "esri-loaderify JSAPI demo"
Do what i suggested in https://github.com/Esri/arcgis-rest-js/pull/221#issuecomment-397389485

Here's why:
- what that demo currently shows (loading the JSAPI first, then using it to load arcgis-rest-js libs) is an edge case
- we have a [guide for AMD that shows how to do that](https://esri.github.io/arcgis-rest-js/guides/amd-requirejs-dojo/)
- esri-loader works in es5 so it's a very small change,

[2018-06-19 21:23] #223 closed

[2018-06-19 21:35] tomwayson commented on #208
Hm... maybe we don't have to strip `/sharing/rest` b/c this seems to have been working in the jsapi-integration demo. However, that demo will need to be updated w/ `toCredential()`:

https://github.com/Esri/arcgis-rest-js/blob/28dc49b3315e61766c7820c77c7af82b5fa06b3a/demos/jsapi-integration/index.html#L61

[2018-06-19 21:37] tomwayson commented on #208
Also, presumably [it's been working for the developers site](https://github.com/Esri/arcgis-rest-js/issues/208#issuecomment-392810703).

[2018-06-19 22:04] patrickarlt commented on #208
I think the JS API handles normalizing `/sharing/rest` to figure out the URL.

[2018-06-19 22:08] jgravois commented on #228
sounds good to me.

[2018-06-20 12:43] #208 closed

[2018-06-20 15:06] COV-GIS commented on #226
In the case of attachments the base url is of the feature-service-feature variety.

1. The url param is the feature url formed by the user.
2. The url param is the feature service url, with a second id param, and the api forms the url.

I prefer the first.

What say you @tomwayson ?

[2018-06-20 15:16] jgravois commented on #226
if i'm understanding correctly, i think it makes sense to mimic [`getFeature()`](https://esri.github.io/arcgis-rest-js/api/feature-service/getFeature/) (and reuse the interface).

[2018-06-20 15:19] tomwayson commented on #226
I think that's true for infos, get, add, and update, but [query operates on the whole layer](https://developers.arcgis.com/rest/services-reference/query-attachments-feature-service-layer-.htm#GUID-0C62F2C7-1FAB-4CCC-AE9C-8A08F3AA7F46). Also, looks like I was wrong about delete above - it does operate at the feature level. I think that means we need another interface for deleting: `deleteAttachment

[2018-06-20 15:32] COV-GIS commented on #226
Check roger.

`get` can simply use ` IFeatureRequestOptions`. While `add` can extent it. `update` and `delete` can extent it too but will require 2 id params for the feature and the attachment. My thinking was fewer params, and looking at it from the feature POV and not the service.

Thanks for the input.

[2018-06-20 16:33] jgravois opened #231 "for getToken(http), upgrade request to fetch token to https automatically."

[2018-06-20 19:59] jgravois commented on #231
this is actually already working as intended.

[2018-06-20 20:53] #231 closed

[2018-06-21 00:29] COV-GIS opened #234 "Properly catching request errors"
I'm having issues catching request errors from methods returning a request promise.

Is the second example below the proper way? Or am I goofing up somehow?

[code]

[2018-06-21 22:45] jgravois commented on #234
its tough to say without being able to see it, but my best guess is that either the problem is inside `getAttachments()` or the specific request you're making generates a response that `request()` has trouble with for some reason.

either way, i can't repro the behavior you describe:
[code]

[2018-06-22 15:31] patrickarlt commented on #234
@COV-GIS i agree with @jgravois I think the issue is somewhere inside your `getAttachments` function. Without being able to look at the code I think the most likely cause is that you have a `then` that you aren't returning anything from. Like this:

[code]

[2018-06-25 15:04] COV-GIS commented on #234
Thanks @jgravois and @patrickarlt. I'm returning the request. Same as the other feature modules. [getAttachments.ts](https://github.com/COV-GIS/arcgis-rest-js/blob/feature/attachments/packages/arcgis-rest-feature-service/src/getAttachments.ts#L55-L72) I was writing a demo to go along with the new modules and that's where this surfaced. I'll try using `request` and `params` directly as a comparison

[2018-06-29 17:32] jgravois opened #236 "createItemInFolder expects a folderId, not a folder name"
https://github.com/Esri/arcgis-rest-js/blob/2c52423c9abef5454505274fbe783011aceed8f9/packages/arcgis-rest-items/src/items.ts#L143-L145

i did a little testing this morning and realized you can't pass a folder name (or title) to createItem.

[code]
it'd be a breaking change to rename the property to `folderId`, but it'd be appropriate. in the interim, we should at least clarify this in the inline d

[2018-07-09 19:47] #161 closed

[2018-07-10 06:01] tomwayson opened #239 "Add support for the "social" authorize to beginOAuth2()"
In the Hub, and soon to be in Hub ready apps, we leverage the seemingly undocumented "social" authorize endpoint to go around the default login screen send users directly to the facebook/google provider sign in/up pages. For example, we first show this modal:

<img width="657" alt="image" src="https://user-images.githubusercontent.com/662944/42490692-820e59c8-83c6-11e8-8f62-72e38cc2dded.png">

Cli

[2018-07-10 07:11] tomwayson commented on #239
I can confirm the above approach works by changing the following line n auth.umd.js in my node_modules:

[code]

to:

[code]

[2018-07-10 13:38] jgravois commented on #239
I'm bussing down to San Diego today and in and out of meetings, but I'll _definitely_ take a hard look at this.

[2018-07-10 13:50] tomwayson commented on #239
better get some more meetings.

I can PR this real quick, main thing I need from you (& ideally @patrickarlt) is validation of the idea (👍).

[2018-07-10 14:50] jgravois commented on #239
maybe we could even just autoconstruct the url to tack on `social/` internally if the corresponding parameters are present?

[2018-07-10 15:19] tomwayson commented on #239
I like that, I would base it on the existence of `socialLoginProviderName`

[2018-07-10 16:22] patrickarlt commented on #239
@tomwayson this is a great idea. What about a `provider` option with 3 possible values `arcgis`, `facebook`, `google` that defaults to `arcgis` and we can build the URL from that. This only adds 1 option and is 100% backward compatible as opposed to adding 2 options `path` and `socialLoginProviderName `.

I don't really see a need for `autoAccountCreateForSocial` or `width` and `height` options. W

[2018-07-10 16:57] jgravois commented on #239
i think @patrickarlt's suggestion makes a lot of sense. i'll take a crack at implementing it.

[2018-07-10 17:36] tomwayson commented on #239
Thanks guys!

 I agree except for one thing: the Hub and Hub related apps already need  `autoAccountCreateForSocial`,  so I think we'll need to support that from the get go.

[2018-07-10 18:02] patrickarlt commented on #239
@tomwayson out of curiosity what does `autoAccountCreateForSocial` do?

[2018-07-10 18:06] tomwayson commented on #239
ordinarily they are requesting to join an org, and they have to wait for approval, but w/ this an account is automatically created and they join directly. I'm not sure if the org has to be configured to allow that - but this is the desired behavior for all Hub orgs.

Hmm... now that I describe what it does, it really does seem that we should set the default to `false` for this and add a parameter

[2018-07-10 19:06] patrickarlt commented on #239
@tomwayson I thought the social login stuff created a public account not an account tied to a specific org?

Looks like there is an org setting for this:

![screenshot 2018-07-10 12 05 03](https://user-images.githubusercontent.com/378557/42531712-89dcd562-8439-11e8-9e35-bb08e81f6887.png)

So here is my question. If I don't have an an AGOL account and I hit one of these sign in links and `autoAccou

[2018-07-10 19:11] jgravois commented on #239
if the default `portal` is passed, you'll _still_ get a public account, but you won't see the dialog below prior to choosing your username.

![screenshot 2018-07-10 11 40 28](https://user-images.githubusercontent.com/3011734/42530502-31a8877c-8436-11e8-973f-ee94730d6882.png)

if a custom `portal` is passed and the associated organization supports social login **and** also has a top-secret organiza

[2018-07-10 19:47] patrickarlt commented on #239
@jgravois ok so are these all the possible scenarios?

1. Default portal (`https://www.arcgis.com/sharing/rest`) and `autoAccountCreateForSocial=true` you get a public account that is automatically created and you won't see the dialog. I'm assuming you then see a screen where you put in your username and password.
2.  Default portal (`https://www.arcgis.com/sharing/rest`) and `autoAccountCreateFor

[2018-07-10 19:56] tomwayson commented on #239
if by that you mean from the provider (i.e. a Google or Facebook password entry screen), then yes, unless you are already logged in to that provider, then you'll see the "ArcGIS wants to use your account blah, blah, blah".

Also, you _do_ still have to enter an ArcGIS username, even w/ `autoAccountCreateForSocial: true`. I know in the case of Google for a non-default portal there was a screen wher

[2018-07-10 20:03] tomwayson commented on #239
So where does this leave us w/ #240?

I don't know what happens in scenario 4 above, but it seems like by defaulting `autoAccountCreateForSocial` to true we _could_ cause problems for orgs that don't have the super secret setting, so I'd rather expose that as a property so that they can opt into making that mistake themselves and then we're not accountable.

[2018-07-10 20:52] jgravois commented on #239
`true | false`, auth blows up immediately when the org requires that new accounts are approved.

`
http://localhost:8080/authenticate.html?clientID=ePF8QFbgoWIkedxD#error=invalid_request&error_description=Joining this organization is supported by invitation only, you need to receive an invitation from the administrator.&messageCode=OAUTH_0024`

because of this it seems appropriate to me for us to

[2018-07-11 03:00] alukach opened #241 "Group interfaces don't match documentation"
Taking a look at our `IGroup` interface, it doesn't seem to match [the documentation](https://developers.arcgis.com/rest/users-groups-and-items/common-parameters.htm#ESRI_SECTION1_17DCA22A3B4F4623960631498150A28C) at all:
https://github.com/Esri/arcgis-rest-js/blob/2aa15e8b7457940bc7b2fef1543f6ba3a5c095c0/packages/arcgis-rest-groups/src/groups.ts#L20-L29

For example, it shows `owner` as a require

[2018-07-11 16:20] tomwayson opened #242 "#233 breaks the use case where a user is signed in and trying to access a public feature service"
My app queries a public feature https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/rest/services/Hub%20Annotations/FeatureServer/0 and uses this as the portal: https://cityxcommunity.maps.arcgis.com/sharing/rest

It worked up until v1.4.1 (and I'd guess right up to #233).

Since upgrading to 1.5.0 I get 2 errors.

The first is that

That obscures the following NOT_FEDERATED error

![image](https:

[2018-07-11 16:32] patrickarlt commented on #242
Since you aren't using the default portal it is likely failing this check https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-auth/src/UserSession.ts#L628-L629 then doing `getTokenForServer()` https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-auth/src/UserSession.ts#L678-L744 which will make a call to https://services.arcgis.com/bkrWlSKcjUDFDtgw/arcgis/res

[2018-07-11 16:33] patrickarlt commented on #242
@tomwayson also is there ANY reason to use https://cityxcommunity.maps.arcgis.com/sharing/rest over https://www.arcgis.com/sharing/rest? As far as I have been able to tell when using the REST APIs there isn't really a difference.

[2018-07-11 17:09] tomwayson commented on #242
Thanks @patrickarlt, I did not mean to submit this issue yet, I was just using it to take notes as I was debugging and actually submitted it.

I was basically going to propose your first solution above, but I wasn't sure of the ramifications.

The reason I'm using it is related to #239 - for Hub auth, we use the community org as the portal when we have the sign in/up. AFAIK - it's only technically

[2018-07-11 17:22] tomwayson commented on #242
Also, I was also wondering about a larger issue here, and that is that the service itself is public, and doesn't need any token for access. I know at the time of the request we have no way of knowing that, but I wonder if we should be trying to pre-emptively generate tokens at all until the request has failed w/ an auth error.

[2018-07-11 18:11] patrickarlt commented on #242
@tomwayson of the 2 options I presented I liked option 1 more too. Do you want tackle this issue? If not I could probably get to it today since I'm not at UC.

As for the auth/un-authed requests thing I don't really have a good answer. Either we generate unnecessary tokens for public services or do what the JS API does and make a request, see if it fails, auth (2 more requests) and then try again

[2018-07-11 18:25] tomwayson commented on #242
Thanks @patrickarlt!

It'd be great if you wanted to take a crack at 1. I'm working on putting in place a workaround in my app (basically, don't use auth for that service b/c I know it's public) so we can demo it tomorrow. I'l be available to help review/merge/release if you are able to PR today.

[2018-07-16 19:07] jgravois commented on #241
thanks for taking the time to write up this feedback @alukach!

i just opened #244 to try and address the problem. if you have time to give it a quick review, it'd be sincerely appreciated.

[2018-07-17 13:17] MikeTschudi opened #246 "Doc: IItem shows "type" & "title" as optional, but AGOL requires them for createItem calls"
[code]
leads to
![image](https://user-images.githubusercontent.com/2125181/42819613-ee79aa0a-8988-11e8-8e95-d37a00d0711d.png)

[code]
is accepted by AGOL.

[2018-07-17 15:21] jgravois commented on #246
since `updateItem()` _doesn't_ require those properties, we can extend `IItem` for that method specifically.

[code]
i should be able to knock this out today. i've been meaning to reorganize the package to break it up into multiple files and take a slightly different internal approach to auth anyway.

[2018-07-17 18:23] noahmulfinger opened #247 "Inconsistent handling of owner property in item functions"
A lot of the functions in `items.ts` use different methods for getting the owner property used for creating the correct url. It would be great if we could standardize this as much as possible. Some examples below:

In the `updateItem` function:
[code]

In the `updateItemResources` function:
[code]

In the `createItemInFolder` function:
[code]

[2018-07-19 18:41] #226 closed

[2018-07-23 18:06] #246 closed

[2018-07-23 18:06] jgravois commented on #247
resolved in #248

[2018-07-23 18:06] #247 closed

[2018-07-23 18:07] jgravois commented on #242
resolved by #245

[2018-07-23 18:07] #242 closed

[2018-07-23 18:09] jgravois commented on #241
took another pass at this in #248. Updated interfaces are `IGroupAdd` (for requests to create a new group) and `IGroup` (which represents an existing group).

thanks again for the feedback and follow up dialog.

[2018-07-23 18:09] #241 closed

[2018-07-23 18:20] jgravois commented on #104
tracking in #137

[2018-07-23 18:20] #104 closed

[2018-07-23 18:41] #44 closed

[2018-07-23 18:44] jgravois commented on #11
more `demos/` are **always** welcome.

[2018-07-23 18:44] #11 closed

[2018-07-23 18:55] #236 closed

[2018-07-23 18:55] #154 closed

[2018-07-25 20:48] noahmulfinger opened #257 "Possible server federation check bug"
I'm attempting to run `queryFeatures` on a feature service in devext (ie `https://servicesdev.arcgis.com/orgId/arcgis/rest/services/test/FeatureServer/0`), but I ran into a possible federation issue.

`UserSession.getTokenForServer` checks the `owningSystemUrl` property, which in this case is `https://devext.arcgis.com`. However, my portal is set to `https://devext.arcgis.com/sharing/rest`, so the

[2018-07-27 15:34] Biboba opened #258 "arcgis-rest-feature-service 1.5.1 : getAttachments is not a function"
In a nodejs application, I am trying to load "getAttachments" but it seems like it is not bundled in npm package 'arcgis-rest-feature-service' v.1.5.1:
https://esri.github.io/arcgis-rest-js/api/feature-service/getAttachments/

`const { getAttachments, queryFeatures } = require("@esri/arcgis-rest-feature-service");`
TypeError: getAttachments is not a function

Looking at the node package, I have th

[2018-07-27 15:54] jgravois commented on #258
hey @Biboba!

i haven't tagged a new version since @COV-GIS made that great contribution in #235, but i assure you, a new release is imminent.

[2018-07-27 16:07] Biboba commented on #258
Hi @jgravois,
Thanks for the quick reply. Lucky me then ! I did not realize all of this was new. Thanks @COV-GIS as it was exactly what I needed !
Can't wait for the release.

[2018-07-27 17:37] jgravois commented on #257
this definitely _should_ be resolved in the next release. if not, we'll revisit.

[2018-07-27 17:51] noahmulfinger commented on #257
@jgravois It will get resolved for `servicedev.arcgis.com` in the next release, but I wanted to point out more generally that when the portal is `https://my.server.com/sharing/rest` and the `owningSystemUrl` is `https://my.server.arcgis.com`, the `NOT_FEDERATED` error will be returned. That seems incorrect to me.

[2018-07-27 22:15] jgravois commented on #258
released as [`v1.6.0`](https://github.com/Esri/arcgis-rest-js/releases/tag/v1.6.0) :tada:

[2018-07-27 22:15] #258 closed

[2018-07-27 22:37] jgravois commented on #257
i just tested the repro case i wrote up in #161 again, and we definitely appear to be handling things appropriately.

[code]

happy to dig in further if you can provide more info.

[2018-07-27 22:51] noahmulfinger commented on #257
@jgravois You're right, I looked at it again and the actual issue is that the `owningSystemUrl` was  `http://...` whereas the portal was `https://...`. That's what caused the regex failure.

[2018-07-27 23:10] jgravois commented on #257
glad to hear it.

[2018-07-27 23:10] #257 closed

[2018-07-30 17:51] tomwayson opened #260 "Add react geocoder component example to geocoder package README"
see: https://twitter.com/oppoudel/status/1022209378378805249

[2018-07-30 20:33] #260 closed

[2018-08-01 00:25] jgravois commented on #203
addressed (at least partially) by #263

[2018-08-01 17:25] jgravois commented on #203
addressed (fully) by #264

[2018-08-02 18:35] jgravois opened #265 "TypeScript 3.0?"
https://blogs.msdn.microsoft.com/typescript/2018/07/30/announcing-typescript-3-0/

the new `unknown` type and more concise error messaging look helpful, as does the use of tuples to model parameter types (instead of overloads).

and they said it would be _very_ easy to upgrade. what could go wrong?

[2018-08-06 20:25] tomwayson opened #267 "Errors in browser geocode demo"
Clicking get service info button shows `arcgisRest.serviceInfo is not a function` in the console:

<img width="553" alt="image" src="https://user-images.githubusercontent.com/662944/43723190-e3945950-994b-11e8-9e5e-7557aebec3eb.png">

Oauth popup hangs after successful sign in:

<img width="692" alt="image" src="https://user-images.githubusercontent.com/662944/43723117-bab0aac0-994b-11e8-8765-82d4

[2018-08-06 20:35] tomwayson opened #268 "Cannot run vue demo"
It looks like we need to either revlock the version of webpack, or install webpack-cli. Following the instructions and running `npm start` I get:

[code]

OK, I'll bite, `npm i webpack-cli`, then `npm start`:

[code]

You're dead to me webpack!

[2018-08-06 20:36] jgravois commented on #267
i'm not sure whats causing the first error, but we can (and should) use `getGeocodeService()` instead.

for the second, we just need to update the filenames in the script tags.

[code]

[2018-08-06 20:55] tomwayson opened #269 "empty JS files generated in packages/arcgis-rest-common-types/src"
I keep seeing:

[code]

I think those are getting generated by `npm run bootstrap`? They're all empty:

[code]

[2018-08-06 21:34] jgravois commented on #269
have you pulled upstream `master` lately?

https://github.com/Esri/arcgis-rest-js/tree/72ed12224b8dcbd53121d59cd0f72d1e3ffe9e39/packages/arcgis-rest-common-types/src

[2018-08-06 21:46] tomwayson commented on #269
Yes, this is after pulling `master`, and I see those TS files, but I don't expect the build process to leave empty **JS** files around, or if it does, I'd expect to that we'd add them to .gitignore

[2018-08-06 22:02] tomwayson commented on #269
OK, this definitely happens after `npm run bootstrap`  - even after running `lerna clean` first.

[2018-08-07 04:27] #267 closed

[2018-08-08 00:15] jgravois commented on #268
@itrew can you spare any cycles to help us make sure this demo app stays plug and play?

[2018-08-08 00:30] #203 closed

[2018-08-10 16:38] itrew commented on #268
@jgravois Sure, I can take a look at this then.

[2018-08-10 20:08] haoliangyu opened #276 "UserSession.getUser() does not use the provided fetch"
Thanks for working on #203. I try the new version (v1.7.0) and find a small gap in the code.

The `UserSession.getUser()` does not accept the provided fetch implementation (or any request option?). This affects the item sharing function in `@esri/arcgis-rest-sharing`:

[code]

Then it throws an error:

[code]

[2018-08-10 20:58] jgravois commented on #276
good catch @haoliangyu.

we currently chain several intermediate requests together to determine whether or not the user is a member of the group you're attempting to share an item with or whether they are an org administrator.

the problem you identified is a result of the fact that we aren't passing through custom request options from the caller in those internal requests for metadata.

i've prop

[2018-08-10 21:13] #276 closed

[2018-08-10 21:39] jgravois commented on #276
released as [`v1.7.1`](https://github.com/Esri/arcgis-rest-js/releases/tag/v1.7.1) :tada:.

thx @noahmulfinger!

[2018-08-11 00:00] jgravois commented on #268
resolved by #279. thank you @itrew!

[2018-08-11 00:00] #268 closed

[2018-08-16 15:14] tomwayson opened #281 "add fn to add item resources"
We've got update and delete, but I don't see any fn to add resources.

https://esri.github.io/arcgis-rest-js/api/items/

Also, I noticed this seems like the wrong description:

https://github.com/Esri/arcgis-rest-js/blob/e42f3eefbb46943c400da0e4e4b96b64e38508e5/packages/arcgis-rest-items/src/items.ts#L418

[2018-08-16 15:50] tomwayson opened #282 "add fns to manage item relationships"
The implementations should be _moved_ over from EAPS:

https://github.com/Esri/ember-arcgis-portal-services/blob/53f6f73fa13ec8c753aa3febf3a974f592ae6334/addon/services/items-service.js#L210-L247

In other words, not copied from there, but removed from there, implemented here, and then have EAPS point here (with corresponding dependency bumps in the Hub apps).

[2018-08-16 19:49] gavinr opened #283 "createItem documentation sample"
This line should ready `type: "Web Map"` not `type: "Webmap"`

https://github.com/gavinr/arcgis-rest-js/blob/e42f3eefbb46943c400da0e4e4b96b64e38508e5/packages/arcgis-rest-items/src/items.ts#L186

[2018-08-16 19:52] jgravois commented on #283
nice catch! a PR with the fix would be _most_ appreciated.

[2018-08-16 19:53] jgravois commented on #283
bonus points if you can tackle the typo @tomwayson noticed in https://github.com/Esri/arcgis-rest-js/issues/281#issue-351249868 at the same time. 😉

[2018-08-16 20:04] gavinr commented on #283
yep, working on it. will take a look at tom's issue too. thanks

[2018-08-16 20:07] gavinr opened #284 "Documentation pages navigation: highlight currently selected page"
I'll admit this is a subjective request, but I personally find it easier when the page I'm on highlights itself in the navigation. It helps me get my bearings if maybe I arrived on this page from a search engine or outside link. So I would propose changing this:
![image](https://user-images.githubusercontent.com/209355/44232173-e1640f00-a165-11e8-86c5-8377fe39988a.png)

to something like this:
![i

[2018-08-16 20:28] jgravois commented on #284
_definitely_ a good suggestion.

[2018-08-16 20:54] noahmulfinger commented on #284
The highlighting actually works if you run the docs locally. I think we need to change something in the calcite web configuration so it works in both environments.

[2018-08-17 13:39] gavinr commented on #284
I see now - yes - when running the doc locally the current page in the navigation is outlined:
![image](https://user-images.githubusercontent.com/209355/44268873-6ef03f00-a1f8-11e8-9ef0-ac782ac1d333.png)

I'm not too familiar with the docs build system, but FWIW it looks like the `list-item-active` class is just not getting added to the div when hosted in production:

![production](https://user-im

[2018-08-17 15:25] #283 closed

[2018-08-17 15:25] jgravois commented on #283
resolved via #287

[2018-08-20 07:16] liujunyi opened #289 "i meet https error? use portal bind Self-signed certificate?"
error:
 FetchError: request to https://[server]/portal/sharing/rest/search failed, reason: unable to verify the first certificate

I had try cas,but it not work
require('ssl-root-cas').inject();
var rootCas = require('ssl-root-cas/latest').create();
rootCas
    .addFile(__dirname + '/ssl/pem.pem')
;
require('https').globalAgent.options.ca = rootCas;

[2018-08-20 12:32] Biboba opened #290 "Enable passing headers (and possibly credentials) to fetch?"
Hello,

I am using "arcgis-rest-js" library to query a secured Web-tiers ArcGIS Server from NodeJS backend.
The ArcGIS Server is not federated to a Portal so I cannot use the built-in Oauth mechanism.
I am able to query the ArcGIS Server using fetch by specifiying a cookie to add in the request:
`fetch(agsUrl,
{
        headers: {
          Cookie: mycookie
        }
})`

but I am under the impres

[2018-08-20 16:18] jgravois commented on #290
hey @Biboba!

I'm not familiar with using cookies to access secure content in ArcGIS Server. Do you know what type of security is in place? ArcGIS Server or Web-tier [authentication](https://enterprise.arcgis.com/en/server/latest/administer/windows/configuring-arcgis-server-s-authentication-tier.htm)? What kind of [identity store](https://enterprise.arcgis.com/en/server/latest/administer/windows/a

[2018-08-20 16:31] COV-GIS commented on #290
@jgravois I was reading up on the `fetch API` last week and was thinking a `headers` param to mix in custom headers would be nice FWIW.

[2018-08-20 16:32] Biboba commented on #290
Hey @jgravois ,

Thanks for the quick reply. It is an ArcGIS Server Web-tiers authentification with a windows active directory store (no ArcGIS Enterprise involved),
Would love headers params to solve my issue 👍

Thanks

[2018-08-20 16:45] jgravois commented on #290
i'm tied up with other :fire:s at the moment, but i _think_ this would be as simple as:

[2018-08-21 16:13] Biboba commented on #290
In the meantime, I was able to solve my issue using a custom fetch with cookie management:

`const nodeFetch = require("node-fetch");`
`const tough = require('tough-cookie');`
`const cookieJar = new tough.CookieJar(mycookies);`
`const fetchWithCookie = require('fetch-cookie')(nodeFetch, cookieJar);`
`const { queryFeatures } = require("@esri/arcgis-rest-feature-service");`

`queryFeatures({`

[2018-08-21 16:32] jgravois commented on #289
do you encounter an error/warning when you attempt to visit the portal using 'https' in the browser?

[2018-08-21 23:19] jgravois opened #291 "introduce an option to 'cache bust' UserSession.getUser()"

[2018-08-22 06:32] liujunyi commented on #289
i used Self-signed certificate to my arcgis portal, I had solve it by change code,
i change @esri/arcgis-rest-request  code,change requese.js
fetchOptions = {
            method: httpMethod,
            // ensures behavior mimics XMLHttpRequest. needed to support sending IWA cookies
          ++++  agent:new https.Agent({rejectUnauthorized: false}),
            credentials: "same-origin"
        }

[2018-08-22 17:14] jgravois commented on #289
nice work.

[2018-08-22 17:14] #289 closed

[2018-08-22 19:54] tomwayson commented on #291
`session.refreshUser()` seems like a good way to me.

[2018-08-22 23:28] tomwayson opened #293 "provide a way to hide private fns from the API docs"
The same way that @dbouwman did for Hub.js: https://github.com/Esri/hub.js/pull/55/files

[2018-08-22 23:42] patrickarlt commented on #293
If you mark anything as `private` in the codebase typedoc should respect that and give us a flag we can use in the templates to hide things.

[2018-08-23 16:53] dbouwman commented on #293
so - this is still pretty hacky... but ended up I updating the `build-typedoc.js` script to take a argument that can be `private` or `protected`.

If we pass `protected` it will filter out `isProtected` and `isPrivate` entries.

If we pass `private` it will filter out `isPrivate` entries.

If we pass nothing, it does not filter anything.

Icky-hacky-but-worky code --> https://github.com/Esri/hub.j

[2018-08-23 20:22] skitterm opened #295 "Unable to determine if a user session should be SSL-only"
When authenticating with the OAuth implicit grant, a `ssl=true` key-value pair is returned as part of the OAuth callback's hash, when the organization is HTTPS-only. Based on that I can adjust everything to be strictly HTTPS when the organization requires it.

However, when calling `userSession.toCredential()`, `ssl` is [always `true`](https://github.com/Esri/arcgis-rest-js/blob/0b2d8f8c4b5f177471

[2018-08-24 13:35] tomwayson commented on #295
I think the way to do that would be to add add a `ssl: boolean` prop to [UserSession](https://esri.github.io/arcgis-rest-js/api/auth/UserSession/) and [UserSessionOptions](https://esri.github.io/arcgis-rest-js/api/auth/IUserSessionOptions/) and then as you say add it here:

https://github.com/Esri/arcgis-rest-js/blob/af61e3e9b2a7fbc164b1d3e7ccad8e9b6a2079ea/packages/arcgis-rest-auth/src/UserSessio

[2018-08-24 15:33] tomwayson opened #297 "add signout() method to UserSession"
I think we should add `userSession.signout()` which under the hood would call the (apparently undocumented cc @patrickarlt) oauth2/signout REST end point.

I _swear_ I already opened this issue, but I can't find it. @skitterm also recently asked me about this, so that's 2 interested parties.

[2018-08-24 15:38] patrickarlt commented on #297
I think the undocumented signout method is actually specifically for signing out of Online/Portal it won't actually sign the our of a 3rd party app.

[2018-08-24 15:45] tomwayson commented on #297
Yes, it clears the esri_auth cookie, and most apps won't be using that. However, there are apps like Hub, StoryMaps, etc that are part of Online and do use it, and for which a shared implementation might be useful.

To that end, we should first figure out if there is a shared implementation that would be useful to us. 😉

Here's a code snippet from an existing app that shows how we would use it:

[

[2018-08-24 15:48] skitterm commented on #297
@tomwayson even more than clearing the cookie is invalidating the token. I assume that's part of the magic the `oauth2/signout` endpoint does, but I could be mistaken.

Cookie clearing could be nice but if the cookie's not set here in the library, I could see it making sense to also not clear it.

[2018-08-24 15:51] tomwayson commented on #297
Well, I think that it is set when we use the [oauth2/authorize](https://developers.arcgis.com/rest/users-groups-and-items/authorize.htm) end point, which is called by `beginOAuth2()`.

[2018-08-24 15:55] tomwayson commented on #297
I did not know that, but it would make sense. If so, it seems like docs around that endpoint could be useful to others beyond us "Online" developers.

[2018-08-24 16:01] skitterm commented on #297
From my [experience](https://developers.arcgis.com/documentation/core-concepts/security-and-authentication/browser-based-user-logins/), the cookie is not set automatically as part of that workflow; the developer is left to persist the username/token/etc credentials him/herself.

[2018-08-24 16:02] tomwayson commented on #297
I just did a quick test and confirmed that using the `oauth2/signout` end point _does_ indeed invalidate the token.

[2018-08-24 16:08] patrickarlt commented on #297
I agree this would totally be useful and if this were an internal shared library I would 💯 agree. But since this is an externally facing library for users I don't think we should really put it in here since it doesn't relate to the users app.

It is set by the `oauth2/authorize` but it has never really been clear to be if the `esri_auth` cookie should be used in third party apps.

I also think @sk

[2018-08-24 16:11] tomwayson commented on #297
I think invalidating the token is useful for everyone.

[2018-08-24 16:17] patrickarlt commented on #297
@tomwayson it is but I don't think you can control which token is invalidated. It always invalidates the token in the `esri_auth` cookie.

[2018-08-24 16:20] skitterm commented on #297
Sounds like `oauth2/signout` does more than just undo what `beginOAuth2` and `completeOAuth2` do (thru the sign-in workflow); I see the point about not wanting to trigger unknown side-effects like signing you out of arcgis.com apps as well as your app. If there's any way to call a method that invalidates the token set when signing in thru that workflow, that seems sufficient to me.

[2018-08-30 18:23] tomwayson opened #301 "should we be running lint before commits and in CI?"
I think so.

Apparently we're not in CI:

https://github.com/Esri/arcgis-rest-js/blob/f05ec37907af0720bc66ce9083d2cf9069cdc581/package.json#L85

Also, I see we've got husky as dev dep, but I don't see how it's configured.

I see 39 lint error when I run `npm run lint` at the root.

[2018-08-30 18:26] tomwayson opened #302 "Add dev docs on our convention for when to use standalone function arguments"
See: https://github.com/Esri/arcgis-rest-js/pull/300#discussion_r214108482

[2018-09-06 22:50] MikeTschudi opened #308 "Update `folder` to `folderId` in IItemCrudRequestOptions"
This affects interfaces that inherit, e.g., [IItemMoveRequestOptions](https://esri.github.io/arcgis-rest-js/api/items/IItemMoveRequestOptions/), which has `folder` from IItemCrudRequestOptions and `folderId` from [Make moveItem's folder parameter optional](https://github.com/Esri/arcgis-rest-js/pull/306); only the latter works.

[2018-09-07 16:36] dbouwman opened #309 "Workflows and UserSession._user"
During the "activation" of an Initiative, we have the following (rough) workflow:

- fetch initiative "template" item
- interpolate values into template, and save as new Initiative "instance"
- create a "collaboration group" (shared editing)
- share newly created Initiative to the "collaboration group"

The tricky bit arises in the sharing at the end. Since the Portal Sharing API has some "idiosyn

[2018-09-07 16:37] dbouwman commented on #291
So I ran into needing something like this - details in #309

[2018-09-10 21:06] jgravois commented on #302
- [ ] when to use 1 arg vs. when to use 2
- [ ] how to find out _exactly_ where you're missing coverage.
- [ ] how to format commit messages

[2018-09-10 22:50] jgravois opened #312 "refactor 'users' and 'groups' packages to quit dumping everything in the same file"
a la #285

[2018-09-11 00:23] jgravois opened #314 "allow developers to control how long an ApplicationSession token will be valid"
i'm still ✈️lagged, but when i linted the code in #313 it pointed out that `duration` was declared but never used.

https://github.com/Esri/arcgis-rest-js/blob/6a17fe577b6c6f839d2667fd6d14099ab41f3bab/packages/arcgis-rest-auth/src/ApplicationSession.ts#L35-L39

[2018-09-11 16:18] #301 closed

[2018-09-11 17:22] jgravois opened #315 "conceptual auth doc"
- [x] embedding username/password (don't do it)
- [x] browser based oauth
- [x] `ArcGISAuthError.retry()` (see #224 for more info)
- [ ] cookies
- [ ] passing a session to the JSAPI (and vice versa)

[2018-09-11 17:22] tomwayson opened #316 "(at least stub in) guide for browser based auth"
To me it's amazing that no one has asked for this yet, but we need to start incrementally fleshing out this page:

https://esri.github.io/arcgis-rest-js/guides/browser-authentication/

As a first pass I propose we need 2 things at a minimum:
1. `splain (briefly) that auth has to be passed w/ every request and how that is different that what devs may expect coming from IdentityManager
1. link out t

[2018-09-11 19:56] tomwayson commented on #316
Closing in favor of #315

[2018-09-11 19:56] #316 closed

[2018-09-11 19:56] tomwayson commented on #315
See my (mostly duplicate) suggestions in #316

[2018-09-11 23:09] jgravois opened #318 "conceptual doc - request"
for demonstration purposes it'd be useful to compare a request that uses this lib with something 'hand rolled' to show exactly what value we add.

* we tack on `f=json`
* we set appropriate request headers
* we encode query strings for `GET`s
* we encode FormData for `POST`s
* we trap for `200` responses that contain an error
* ~~auth~~ (thats a _whole_ nother topic)
* ?

[2018-09-12 15:25] jgravois opened #319 "async / await"
need to investigate the impact on our UMD / ESM output.

[2018-09-14 17:40] COV-GIS opened #321 "add SRI hashed script tag examples to packages docs page"
Perhaps under `CDN url:` have...

Script tag:
```<script src="https://unpkg.com/@esri/arcgis-rest-request@1.9.0/dist/umd/request.umd.js" integrity="sha384-Iutv/c8BA+49hi5Y9oNmHeFbrxWU62LKbyb2YV/OK3PwGP2e4XFIq//lFTWDXryO" crossorigin="anonymous"></script>```

I'm sure there's a way to automate it.

Just a thought.

[2018-09-14 17:44] jgravois commented on #321
this would be a welcome contribution, but i won't have time to tackle it personally any time soon.

pat's great static site generator [`acetate`](https://github.com/patrickarlt/acetate) already provides a great hook to do this. you'd just need to add another dep to generate the hash when the cdn url is composed.

https://github.com/Esri/arcgis-rest-js/blob/master/docs/acetate.config.js#L200-L204

[2018-09-14 17:46] COV-GIS commented on #321
Just getting it out there.

Very well may do @jgravois.

[2018-09-15 19:51] COV-GIS commented on #321
I was investigating a bit. Don't see any issue using node's `crypto` package to generate hashes for the dist packages and creating a script tag code sample.

John, Tom and Pat...what say you about either replacing `CDN url:` with script tag code or adding it as an additional code sample as suggested above?

[2018-09-16 19:27] COV-GIS commented on #321
Sorry fellas...I'm gonna let this one go for now.

The hashes are easy enough to create. And so is composing a script tag string for the docs with an acetate helper. But creating an SRI hash requires a promise, so hashes would need to be created as part of the build or possibly with an acetate plugin to create and include the hashes in the `typedoc.json` for each package.

Too far out in the rhuba

[2018-09-16 21:37] jgravois commented on #321
i hadn't considered that but it makes sense, only because we don't have a local reference to built files from the latest release readily available.

one way to sidestep that problem would be to add yet another step to our [release script](https://github.com/Esri/arcgis-rest-js/blob/master/support/publish.sh#L17) to calculate hashes for each of the _local_ packages locally and save them in a config

[2018-09-17 14:47] zhouLion opened #322 "FormData is not defined"
my app was run in
## *the Node of v8.9 with the OS win10 *  ,
following is my code
[code]
it will throw exception like below
![image](https://user-images.githubusercontent.com/19882767/45630110-932a8e80-baca-11e8-8d2f-bb0b51a5fc60.png)
- - -
is this package only work in modern browsers?

[2018-09-17 15:04] COV-GIS commented on #321
Here's where I got to @jgravois.

https://github.com/COV-GIS/arcgis-rest-js/commit/579636bafebff4f2b352c70863dc5331d5650d5e

If there's some direction or ideas I'm open to them.

I can also submit a PR with just the script tag for now as well.

[2018-09-17 15:54] itrew commented on #322
If you are running it in node, you need to supply your own fetch API and FormData API. You can use [isomorphic-fetch](https://www.npmjs.com/package/isomorphic-fetch) and [isomorphic-form-data](https://www.npmjs.com/package/isomorphic-form-data).  See the node-cli example [here](https://github.com/Esri/arcgis-rest-js/blob/d3f2553e59235c7657a074160a3694e06144b87e/demos/ago-node-cli/ago.js#L2-L3).

Y

[2018-09-17 16:07] jgravois commented on #322
this is docced here: https://esri.github.io/arcgis-rest-js/guides/node/

if anyone has other ideas to surface this info more prominently, i'm all ears.

[2018-09-17 19:01] jgravois opened #323 "decorate the response of getItemResources() to return the full url"
and token if authentication was passed.

[2018-09-17 21:16] patrickarlt commented on #322
@jgravois something might be up with https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-request/src/request.ts#L161-L190 `request` should throw a helpful error message here.

[2018-09-17 21:48] itrew commented on #322
Simple as `if (typeof Promise === 'undefined') {}` & `if (typeof FormData === 'undefined') {}` ?

[2018-09-17 22:20] jgravois commented on #322
@itrew bingo. can't believe i missed that when i fixed fetch in https://github.com/Esri/arcgis-rest-js/pull/264/commits/90f9e75c513136c828e10faa757ada80ce389dd3.

[2018-09-18 15:04] #322 closed

[2018-09-18 16:50] skitterm commented on #114
I would welcome having a timeout option for requests. It's helpful from a UX standpoint to control the amount of time waiting for a request, especially when the request is holding up other parts of a workflow.

[2018-09-18 17:08] jgravois commented on #309
thanks for this write up. i still think our best option is to expose something in the API that guarantees a fresh request for user metadata will be made.

lets continue tracking in #291.

[2018-09-18 17:08] #309 closed

[2018-09-18 17:34] jgravois commented on #308
thanks for this.

tracking in https://github.com/Esri/arcgis-rest-js/issues/137#issue-301512975

[2018-09-18 17:34] #308 closed

[2018-09-18 17:57] jgravois commented on #224
tracking in #315

[2018-09-18 17:57] #224 closed

[2018-09-18 22:50] jgravois commented on #209
@patrickarlt.

i think implementing your suggestion in https://github.com/Esri/arcgis-rest-js/issues/137#issuecomment-393362439 is the **single** most important thing that could be done to more successfully onboard new users/contributors.

i 🙏  you'll have a cycle sometime soon to take a crack at:
* inlining `requestOptions` properties in the API reference page for methods
* reordering properties

[2018-09-19 16:13] dpbayer opened #329 "Invalid URL when working with rest/admin/services"
This is a really great library, that we are using heavily on a project.

I have encountered an issue with using the library to create hosted services in an on premise portal....

I can successfully create a service, using the createService method. When I try to addToDefinition, the code fails.
[code]
In the browser log, the code is accessing an invalid URL, to get the server info and hence the tok

[2018-09-19 16:58] jgravois commented on #329
thanks for the detailed bug report @dpbayer!

[2018-09-19 19:59] #329 closed

[2018-09-19 21:39] jgravois commented on #323
i tend to share Signal's [development ideology](https://github.com/signalapp/Signal-Android/blob/master/CONTRIBUTING.md#development-ideology).

especially in this case, because appending a valid token doesn't cause problems accessing public resources.

http://edn.maps.arcgis.com/sharing/rest/content/items/a12fdf311e204308bd83db10f80c61d7/resources/headshot.jpg?token=[valid]

[2018-09-19 22:51] tomwayson commented on #329
@dpbayer the fix for this has been released in [v1.11.0](https://github.com/Esri/arcgis-rest-js/releases/tag/v1.11.0).

[2018-09-20 17:33] skitterm commented on #295
PR submitted: #332

[2018-09-20 20:32] jgravois commented on #295
resolved via #332. thanks again @skitterm 🎉

[2018-09-20 20:32] #295 closed

[2018-09-21 16:30] patrickarlt opened #333 "Decorate all items with full thumbnail URL"
When developing applications I am constantly doing:

[code]

since this is standard across everything so we should be able to do it any time we return an item from anywhere in REST JS and it would save all of us a lot of headache probably something more like this would handle `token` being optional for public items.

[code]

[2018-09-21 16:33] jgravois commented on #333
you probably already saw it, but we're discussing the exact same thing for item resources in #322.

a generic utility method to assist with this would be _awesome_.

[2018-09-21 19:05] jgravois commented on #284
the problem is worse than that. `is-active` isn't being set on page load in production _anywhere_ on page load.

proposed ~~fix~~ hack in #334

![screenshot 2018-09-21 12 01 39](https://user-images.githubusercontent.com/3011734/45900962-22b79200-bd96-11e8-86bb-4affed58b2ba.png)

![screenshot 2018-09-21 12 02 28](https://user-images.githubusercontent.com/3011734/45901000-3fec6080-bd96-11e8-9cc9-aec

[2018-09-21 21:03] tomwayson commented on #333
I think @jgravois meant #323

[2018-09-21 21:06] jgravois commented on #333
yes. he did.

[2018-09-21 22:59] jgravois commented on #319
# Pros:

- [X] typescript 2.1+ indeed transpiles async/await to [ES5](https://basarat.gitbooks.io/typescript/docs/async-await.html) anywhere `Promise` is available.
- [X] it looks _nice_!

[code]
### becomes
[code]
# Cons:

- [X] the change above costs almost 1.5 KB.
[code]
### becomes
[code]
The [Async Await](https://basarat.gitbooks.io/typescript/docs/async-await.html) chapter of TypeScript Deep

[2018-09-21 22:59] #319 closed

[2018-09-21 23:03] jgravois commented on #312
done in #327 and #328

[2018-09-21 23:03] #312 closed

[2018-09-23 00:30] #265 closed

[2018-09-26 19:10] tomwayson opened #339 "facilitate composition of our low level functional API to reduce end user friction"
One area of friction with our functional approach is that sometimes multiple requests that are sequential or at least made w/in the same context will share parameters that will need passed into each fn call. For example, when working w/ a feature service, you may want to call [queryFeatures](https://esri.github.io/arcgis-rest-js/api/feature-service/queryFeatures/), [getFeature](https://esri.github

[2018-09-26 19:39] tomwayson opened #340 "docs should include link(s) to some kind of coding sandbox (jsBin, codepen, jsFiddle, etc)"
I think we want to get people from reading docs to typing code in a few clicks as possible. To that end we should have links to (or perhaps embed) a bin/pen/fiddle w/ a hello world for at least each of the broad use cases for the libraries:
- portal API (items, etc)
- feature services
- geocoding
- other?

Maybe each of those broad categories gets it's own guide page w/ links to related packages,

[2018-09-26 19:52] tomwayson commented on #339
Or do we only provide a `withOptions(commonRequestOptions, fn)` that would work at least on any fn that has only a single requestOptions argument?

[2018-09-26 23:15] COV-GIS commented on #340
Additionally having the browser demos live at https://esri.github.io/arcgis-rest-js/demos/EACH_EXAMPLE/ would be nice too. Or at least links back to the demos in the repo that pertain to each package. Like the jsapi has for many of the classes and widgets.

[2018-09-27 14:32] tomwayson commented on #340
Good point. I agree that we ought to deploy the browser demos, though it probably won't be as subfolders of the gh-pages docs of this repo. I could see each having a deploy script that publishes to surgh.sh and having all of those run by lerna as part of the deploy script for the docs site.

[2018-09-27 15:10] dbouwman commented on #339
100% agree with this sentiment and approach. In `hub.js` I've put functional helpers in the `hub-common` module, but have not added higher order fn's like this yet.

Perhaps put the `withAuthentication` in the `-authentication` package...
And I think the `withUrl` seems to fit w/ the feature-service package as that's really where we'd be manipulating urls

[2018-09-27 16:38] tomwayson commented on #339
Thanks @dbouwman.

If we go w/ individual fns, putting each in the packages you suggest makes a lot of sense, and if you wanted to apply more than you could compose them like:

[code]
What's nice about that is that the composing fns live in packages that the consuming app is already `import`ing from.

That said, I'm starting to realize there might be a few of these, for example maybe a `withPortal

[2018-09-28 17:31] jgravois opened #342 "add an npm script to watch a specific package for changes and call 'build'"

[2018-09-28 18:31] jgravois commented on #269
i noticed something similar to this on @dbouwman's box today after he started stubbing out a new hub.js package...

[2018-10-01 22:42] itrew opened #343 "GeoJSON typing for the feature service package"
Since GeoJSON is a valid output for `FeatureLayer/query` endpoints, I was thinking it may be helpful to add that as an alternative response type for the `getFeature`, `queryFeatures`, and `queryRelated` methods. Maybe a Typescript generic for those three methods?

The reason I bring this up is that I am working on a library that needs to grab data from a service before processing it. The utility I

[2018-10-02 17:48] jgravois commented on #343
we should definitely advertise that /query can return a GeoJSON feature collection.

[code]

[2018-10-03 20:27] itrew commented on #343
So returning a union type brings along it's own quirks. After making the change @jgravois suggested, we run into the following scenario:

[code]

[2018-10-03 20:27] itrew commented on #343
And to address @tomwayson 's concerns about `'geojson' as 'geojson'` when dealing with overloads, that should only be necessary when assigning the `requestOptions` to a variable prior to use. For example:

[code]

[2018-10-05 19:09] jgravois opened #347 "npm run docs:typedoc generates lots of TypeScript errors"

[2018-10-05 19:40] #284 closed

[2018-10-05 20:10] gavinr commented on #284
looks great @jgravois!

[2018-10-06 00:47] tomwayson commented on #284
I hate to even bring this up, but in FF I can get the nav in a state where _both_ nav links appear active by going from one to the other and then using the back button (or key board shortcut):

<img width="379" alt="image" src="https://user-images.githubusercontent.com/662944/46565636-31d62e00-c8c6-11e8-9f9c-e86899720e8c.png">

As long as navigate back/forward using the built in browser controls b

[2018-10-06 00:59] jgravois commented on #284
feature-service pages expand the 'admin' package tree too. :wink:

![2018-10-05 17 52 24](https://user-images.githubusercontent.com/3011734/46565773-3e5b8600-c8c8-11e8-9d19-97ad17000e06.png)

[2018-10-08 01:14] ajturner opened #349 "Feature Service introspection"
using the feature service interface, it would be helpful to provide introspection for getting layer + service metadata such as Fields (and types), version, etc.

[2018-10-08 15:27] tomwayson commented on #349
you mean the `/info` endpoint, right?

http://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer/3/info/?f=pjson

For that I would suggest `getLayerInfo(requestOptions)` as the API.

[2018-10-08 21:42] ajturner commented on #349
I didn’t know that endpoint existed. How is it different from just /0?f=JSON

The API should provide Layer info and service info.

[2018-10-08 21:43] ajturner commented on #349
Another way to say this: what does Tugboat need for the harvesters?

[2018-10-08 23:28] tomwayson commented on #349
Ha! I didn't know _that_ endpoint existed. Looks like they are the same.

@haoliangyu @dmfenton what do you need for the harvesters? It shall be yours!

[2018-10-09 11:40] dmfenton commented on #349
We save all the metadata /FeatureServer and /FeatureServer/layer. When there is xml metadata passed through, we’ll want that too. The UI also needs the auth info at /FeatureServer/info (or something like that) to decide when to send tokens along.

Long way of saying, Hub Indexer needs every bit of metadata we can get our hands on.

[2018-10-09 14:09] #321 closed

[2018-10-09 16:05] #347 closed

[2018-10-09 21:21] jgravois opened #355 "move code snippets in API reference above the fold?"
i think its nicer when the code snippets are up top.

![screenshot 2018-10-09 14 10 44](https://user-images.githubusercontent.com/3011734/46699293-38b6b680-cbce-11e8-8d53-5f958a8c107d.png)

what do **you** think?

![screenshot 2018-10-09 14 17 13](https://user-images.githubusercontent.com/3011734/46699314-44a27880-cbce-11e8-8a4c-f5791325a622.png)

[2018-10-09 22:23] dgoldb2 opened #357 "common-types not available"
Cannot find "/dist/umd/common-types.umd.min.js" in @esri/arcgis-rest-common-types@1.13.0

https://unpkg.com/@esri/arcgis-rest-common-types@1.13.0/dist/umd/common-types.umd.min.js

[2018-10-09 22:29] jgravois commented on #357
the `common-types` package doesn't contain any JavaScript for us to bundle in a UMD. it only contains typings for TypeScript developers.

https://unpkg.com/@esri/arcgis-rest-common-types@1.13.0/dist/types/

[2018-10-10 12:02] ajturner commented on #349
@dmfenton we were asking so you could enumerate “every bit of metadata” that exists or is useful based on current implementations. Where are the worker code that do these calls?

[2018-10-10 12:21] dmfenton commented on #349
@ajturner Here is the code we use to derive metadata from:
- server info
- layer info
- org info
- xml metadata
https://github.com/ArcGIS/hub-indexer/blob/master/packages/duke/compose/dataset.js#L74

That said, we still save these full objects to our document store.

[2018-10-10 15:15] dmfenton commented on #349
There are also more areas where we use layer or server metadata directly here:
https://github.com/ArcGIS/hub-indexer/blob/master/packages/api/schema.json

[2018-10-10 18:35] tomwayson commented on #349
Is there a timeline for this, or some specific plan to update the harvester code?

[2018-10-10 18:41] petemahoney commented on #315
Would love a little doc to help guide on how to do browser based OAuth2.  We are doing extensive work with Portal and writing lots of apps - but not all of them need the full Javascript API so a lightweight option for authentication would be great.

I see the guide that is started here - https://esri.github.io/arcgis-rest-js/guides/browser-authentication/ - but I'm still lost at a high level.  I r

[2018-10-10 19:00] dmfenton commented on #349
@tomwayson was that directed at me? We don have any plans to use arcgis-rest-js in the harvester code right now. I don't know that we need to change any of the calls we are making or add any new ones with regards to metadata.

[2018-10-10 23:07] jgravois commented on #315
@petemahoney persisting authentication info in `localStorage` is a helpful technique, but to be clear, its not a _necessary_ step in the OAuth 2.0 flow.

i'll plan on adding the links below to the guide you mention to more explicitly steer folks toward more comprehensive and relevant external doc.

### Resources

* [Implementing Named User Login](https://developers.arcgis.com/documentation/core-co

[2018-10-11 18:51] #315 closed

[2018-10-11 22:38] tomwayson opened #363 "run travis build on windows?"
Thanks to @gavinr  for the hot tip that Travis can now run your build on windows!

https://blog.travis-ci.com/2018-10-11-windows-early-release

At the risk of making our build take even longer...

[2018-10-12 11:37] ajturner commented on #349
I used the harvester as an example of comprehensive service/layer metadata.

________________________________
From: Daniel Fenton <notifications@github.com>
Sent: Wednesday, October 10, 2018 3:00:05 PM
To: Esri/arcgis-rest-js
Cc: Andrew Turner; Mention
Subject: Re: [Esri/arcgis-rest-js] Feature Service introspection (#349)

@tomwayson<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com

[2018-10-12 19:11] jgravois commented on #363
my first instinct is that our build already takes long enough. what i'd recommend first:
- [ ] make sure its clear in our contributing doc how to run tests _locally_ on windows
- [ ] confirm that the results of that are consistent with Linux/OSX

if we do the above and identify a scenario at some point that produces different results (or if anyone else disagrees), we can start targeting windows to

[2018-10-15 18:53] jgravois commented on #357
closing for housekeeping, but happy to chat more (at anytime) if it'd be helpful.

[2018-10-15 18:53] #357 closed

[2018-10-16 16:02] #342 closed

[2018-10-17 11:47] maximelebreton opened #370 "Empty Postal Code with findAddressCandidates..."
Hi there,

I try to use the `findAddressCandidates` api, and everything is working except the postal code, who is empty (on all cities I've tested).

**My request:**
https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?f=json&city=Paris&outFields=City,Postal&maxLocations=10&sourceCountry=FRA

**The returned `json`**
[code]

Is it a bug, or I missed something?

[2018-10-17 12:20] maximelebreton commented on #370
And if I search a french Postal Code, like `56800`, who is related to 9 cities :

[code]

I have only one result, instead of 9...
[code]

[2018-10-17 15:40] jgravois commented on #370
its difficult to explain, but geocoding just doesn't work that way.

our geocoder compares your input parameters to a composite collection of data sources for discrete point match and the best match for `"Paris"` or any other city is a point feature representing the entire city. that feature does not include a postal attribute because it represents a larger geography that spans many postal zones.

[2018-10-17 15:55] maximelebreton commented on #370
Thank you for the explanation @jgravois!

But is it possible to make it work in my way with any ArcGIS API, or should I migrate to an other API, like OSM, Google Maps or Mapbox?

Greetings

[2018-10-17 16:50] jgravois commented on #370
i'm no expert, but i don't think OSM, Google Maps or Mapbox's geocoders work the way you're hoping either.

if you want to know what postal codes share geographic boundaries with cities in France, you just need to either identify existing public spatial services for both or spin up two new ones of your own.

https://developers.arcgis.com/labs/rest/query-a-feature-layer/
https://developers.arcgis.c

[2018-10-18 17:42] mpayson commented on #370
hi @maximelebreton , another thought is you can take the location result from `findAddressCandidates` and pass it in to `reverseGeocode`

`findAddressCandidates` assumes you knows the addresses and optimizes fetching coordinates, and `reverseGeocode` assumes you know the coordinates and optimizes fetching address information, so the latter returns more address-type data

for example, the first can

[2018-10-19 17:22] tomwayson opened #371 "decorate feature service attachement responses w/ full urls?"
@jPurush was going to add this code that we use in the Hub to Hub.js:

https://github.com/Esri/hub.js/blob/2ada2dfe36253e3fa5b75d4993ff28c41198d45f/packages/events/src/get.ts#L45-L60

I wonder if instead of adding it there if rest-js should be decorating  the [getAttachments()](https://esri.github.io/arcgis-rest-js/api/feature-service/getAttachments/) responses w/ the full url similar to the the s

[2018-10-19 17:30] jgravois commented on #371
yes. i am _all for_ this.

i'm also willing to do the testing to quell your concerns about appending tokens because i think it's an appropriate default.

[2018-10-19 18:34] itrew commented on #371
Saw this issue and thought I'd chime in if that's alright. As with @tomwayson I'd be wary about appending the token, as it encourages users to be a little more lax with security. For example, we had a node express app that was developed to display the groups users belonged to. The app rendered a page using Pug and included the group's thumbnail url with a token appended. Unfortunately the token wa

[2018-10-19 18:54] tomwayson commented on #371
Thanks for the feedback @itrew

We could always add a `outputUrl: boolean | string` option to [IGetAttachmentsOptions](https://esri.github.io/arcgis-rest-js/api/feature-service/IGetAttachmentsOptions/). If it's truthy, add a `url` to the attachmentInfos in the response. If `outputUrl === 'token'` then also append the token? Or if that's too cheesy we could always output the URL and just have an `a

[2018-10-19 20:34] itrew commented on #371
I see the value in appending the url by default in almost all instances as that seems to be the most sought after information. So to me it would make sense to just decorate the attachment info with the `url` property, making me lean towards the `appendToken: boolean` option like you've mentioned. I do, however, think that it needs to be **false** by default in order to guard against the situations

[2018-10-24 08:33] maximelebreton commented on #370
Many thanks to @jgravois and @mpayson,
it requires two calls, and I would rather like one call solution, but it's working!

[2018-10-24 08:34] maximelebreton commented on #370
_The @mpayson message has disappeared (dont know why?), so I repast it here:_

[2018-10-24 08:34] #370 closed

[2018-10-29 17:29] sfabijanski opened #373 "expose new responseType option in IRequestOptions"
I'm working with Node 8.6.0 in a linux environment. I was trying to request an image export from an image server when I ran into an error: "error: TypeError: response.blob is not a function." When the format is set to *image* rather than resolve with the image buffer, the request throws an error.

I've traced the error down to the format setting. When the parameters are set and format is *image* t

[2018-10-29 20:58] jgravois commented on #373
thanks for taking the time to write up what you found. for the time being you might consider using node-fetch@^2.0.0

[code]

related: https://github.com/matthew-andrews/isomorphic-fetch/pull/157

[2018-10-30 14:44] dmfenton opened #375 "Support for Custom Value Domains"
As a developer I should not have to know about custom value domains.

If I query `where=cvd=water`, I should not have to care that cvd stores the term `water` as the value `1`.

When data is displayed from this service I again should not have to know that `water` is stored as `1`. I should not have to decode the value myself, the library should handle that for me.

I recommend that this support be

[2018-10-30 15:17] jgravois commented on #375
i'm into this idea.

has something like this already been implemented in the koop ecosystem anywhere?

[2018-10-30 15:52] dmfenton commented on #375
Yes. There is prior art here:
https://github.com/GeoXForm/esri-to-geojson/blob/master/src/index.js#L193-L235
https://github.com/koopjs/winnow/blob/master/src/where.js#L74-L104

[2018-10-30 15:58] dgoldb2 opened #376 "geocoder tries to assign spatial reference to extent of point"
In the geocoder.js, the point result candidates are points, and have a NULL extent.  Cannot assign a spatialReference property to NULL.

`.then(function(e){
	var t=e.spatialReference;
	return e.candidates.forEach(function(e){
		e.location.spatialReference=t,
		e.extent.spatialReference=t
		}),
	e})`

[2018-10-30 16:08] tomwayson commented on #375
I'm fine w/ that, but it would be a breaking change.

[2018-10-30 23:56] tomwayson commented on #373
alternatively you could try https://github.com/developit/unfetch/tree/master/packages/isomorphic-unfetch

[2018-10-31 14:52] #376 closed

[2018-10-31 15:39] patrickarlt commented on #370
@maximelebreton a little late on this but I thought I would comment since this might be helpful.

If you are trying to do something like "Find all Zip Codes in the city of Paris" you might want to look at standard geography queries https://www.esri.com/arcgis-blog/products/arcgis-online/uncategorized/best-practices-how-to-query-standard-geographies-branches/ which are part of the Geoenrichment API

[2018-10-31 23:43] itrew commented on #290
@jgravois In the same vein as this issue with regards to supporting IWA, it would be nice to just set the fetch option `credentials: 'include'` for instances where the url is pointed at a different host. Right now the request method defaults to `credentials: 'same-origin'`, so the ability to overwrite that default would be nice. For now, I've found the need to pass in a custom fetch to get fetch t

[2018-11-02 16:46] simongis opened #378 "Getting #Views, Last Accessed, FileSize"
I am looking to put together an app that lets me tidy up the content in my portal.

I would like to allow a user to view items that they own with some parameters to filter the list down:

- Has not been **accessed** in XX days
- **Size** Is larger than XX size (megabytes)
- Is not [protected](https://esri.github.io/arcgis-rest-js/api/common-types/IItem/#protected)
- Is not in the [category ](https

[2018-11-02 19:29] jgravois commented on #378
i don't know about usage stats, but the last one is just [`size`](https://developers.arcgis.com/rest/users-groups-and-items/item.htm)

[2018-11-02 22:45] jgravois commented on #373
see https://github.com/Esri/arcgis-rest-js/pull/374#issuecomment-435133941

https://developer.mozilla.org/en-US/docs/Web/API/Response#Methods

[2018-11-02 23:49] simongis commented on #378
Thanks John.  The `numViews `and `size `will be really useful to filter on.

Should these properties also exist on the [IItem properties](https://esri.github.io/arcgis-rest-js/api/common-types/IItem/#categories)?

We can still get to them, so all good on that front.

I spotted GeoJobe Admin tools does not offer 'Last Accessed'  it as a filter, which makes me think Last Modified + Views is as close

[2018-11-04 15:05] tomwayson commented on #378
Yes, looks to me like they should be added.

[2018-11-05 03:42] sfabijanski commented on #373
I've researched this issue much more deeply since my initial request and *finally* understand the differences between a stream and a buffer. Please follow @patrickarlt 's [advice](https://github.com/Esri/arcgis-rest-js/pull/374#issuecomment-434732939) suggesting the inclusion of both **buffer** and **stream** for response types. Since streams are also supported in the browser, see [Stream API](htt

[2018-11-08 17:26] patrickarlt opened #384 "Param builders for building complex parameter objects"
Given that this library now has the capacity to do routing https://github.com/Esri/arcgis-rest-js/pull/382 and [create feature services](https://esri.github.io/arcgis-rest-js/api/feature-service-admin/createFeatureService/) I want to put forward the idea of including some reasonable APIs for building the parameters objects like what I specced for https://github.com/Esri/esri-leaflet-routing/blob/m

[2018-11-08 20:33] dbouwman commented on #384
Having fluent builders would certainly help us bury more platform idiosyncrasies, so that alone is a win.

[code]

[2018-11-09 20:13] jgravois commented on #384
i think this is a _great_ idea.

[2018-11-09 21:51] #378 closed

[2018-11-09 22:02] jgravois commented on #269
file this one under 🤷‍♂️

[2018-11-09 22:02] #269 closed

[2018-11-09 22:05] jgravois commented on #297
closing, but happy to reconsider if anyone discovers a technique to invalidate a token.

[2018-11-09 22:05] #297 closed

[2018-11-09 22:06] #42 closed

[2018-11-09 22:06] #67 closed

[2018-11-09 22:10] jgravois commented on #343
is there an action item here or can folks already declare what they're expecting?

[code]

[2018-11-09 23:10] itrew commented on #343
Personally I am in favor of using overloads in scenarios like this. To me would be nicer to let the function (queryFeature, queryFeatures, etc.) determine the response type based on the input rather than worry about asserting the output. Since this is a TS library, it would be nice to be able to provide TS features where possible.

I'd be happy to take another crack at it after I closed #346.

[2018-11-13 23:40] will7692 opened #388 "Referer in Header not set for '@esri/arcgis-rest-request' requests"
When using a referer in generate token and then using '@esri/arcgis-rest-request' for certain operations against portal the referer is not set and an Invalid Token error is returned

[2018-11-14 01:53] jgravois commented on #388
AFAIK, this library doesn't allow you to pass a referer to [`/generateToken`](https://github.com/Esri/arcgis-rest-js/blob/ee76650409810482d147f4a32e7ac11dbad5a8ca/packages/arcgis-rest-auth/src/UserSession.ts#L808-L826).

that said, if your call to `request()` happens in a browser, a Header identifying your own app certainly _should_ be passed along.

just to clarify, are you saying that you're mak

[2018-11-14 02:13] kbedel commented on #388
Hi @jgravois,

For a bit more context, this is from within Node.js, not a browser. We are generating the token via the built-in authentication methods, which is setting the referer to a hardcoded string here https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-auth/src/generate-token.ts#L35 but then not setting that same referer in the header when making subsequent calls.

[2018-11-14 05:33] jgravois commented on #388
thanks for clarifying. i _think_ all we need in [`request()`](https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-request/src/request.ts#L245-L249) to solve your problem is this:
[code]
either way, a PR would be sincerely appreciated.

[2018-11-14 16:31] will7692 commented on #388
Pr made https://github.com/Esri/arcgis-rest-js/pull/389

[2018-11-14 19:56] #375 closed

[2018-11-14 22:25] #47 closed, assigned to gavinr, patrickarlt

[2018-11-14 22:26] #46 closed, assigned to noahmulfinger, araedavis

[2018-11-14 22:46] COV-GIS opened #391 "Possibly change feature add, update and delete params to match REST API at some point"
It's personal preference but `adds`, `updates` and `deletes` params really bother me for not being the REST params, e.g. `features` and `objectIds` respectively. I never fully understood the JS API having different param names from the REST API for queries and the like. I get it, `outSpatialReference` is more descriptive than `outSR`, but the rest of the param names here are REST API driven. I jus

[2018-11-15 16:00] jgravois commented on #391
we actually already discussed this in https://github.com/Esri/hub.js/issues/58

a PR that introduces `features` and `objectIds` and adds a [deprecation warning](https://github.com/Esri/arcgis-rest-js/blob/84ad2cdc3a3336fa2c33f7eb565aa359259c6871/packages/arcgis-rest-geocoder/src/helpers.ts#L72-L74) when parsing what we already have would be _most_ welcome.

[2018-11-15 18:03] COV-GIS commented on #391
I'm not the only one then.

Will do.

[2018-11-16 08:26] tomwayson opened #393 "How to assist consumers in formating query response values, i.e. based on popupInfo?"
This recently came up in https://github.com/Esri/arcgis-rest-js/pull/386#discussion_r232855938, if we're processing fields to decode coded value domains should we also provide a way for consumers to format date and numeric fields?

There has also been interest in potentially using the [format](https://developers.arcgis.com/web-map-specification/objects/format/) info from [fieldInfo](https://develo

[2018-11-19 09:27] simongis opened #395 "Get Icons for Item Types?"
With Web GIS content, there is an [ever growing range of Item Types.](https://developers.arcgis.com/rest/users-groups-and-items/items-and-item-types.htm)

**As a developer, I want:
- to be able to make a lookup request for an Item Types Icon
- to request the correct icon for any new Item types
- Parameter for either SVG or PNG response**

We are currently [pinching some logic ](https://github.com/

[2018-11-19 20:04] jgravois commented on #395
a new utility function that decorates an item with its icon _should_ be pretty straightforward (and would **definitely** be welcomed).

my instinct is that it could pull down the calcite-web resources from GitHub (or somewhere else) by default and support an option for developers to pass through their own baseUrl if they're being hosted locally.

[code]

[2018-11-19 21:52] COV-GIS commented on #391
https://github.com/Esri/arcgis-rest-js/pull/396

[2018-11-19 21:52] #391 closed

[2018-11-20 00:17] dmfenton opened #397 "Search items constructs incorrect portal url"
It's working with portal.com/search, should be portal.com/sharing/rest/search

[2018-11-20 01:14] dmfenton commented on #397
Given that that is not very intuitive, the library should either throw and error or try to correct for bad input

[2018-11-20 17:51] jgravois opened #398 "attempt to clean up malformed portal urls and log a warning"
- [x] if the url contains trailing whitespace or doesn't end in a trailing slash, append it
- [ ] if the url is missing a protocol, append `https://` (and warn)
- [ ] if the url is missing `/sharing/rest`, append (and warn)

see #288 for more info

[2018-11-20 17:51] jgravois commented on #397
we'll continue tracking in https://github.com/Esri/arcgis-rest-js/issues/398

[2018-11-20 17:51] #397 closed

[2018-11-26 20:54] ryanewtaylor opened #401 "Remove malicious version of event-stream"
According to dominictarr/event-stream#116 event-stream contains some malicious code. I do not understand the full impact at this time but it would appear this project has a (sub-sub-sub-sub) dependency on the impacted version. Note the reference to flatmap-stream@0.1.1 below.

[code]

See dominictarr/event-stream#116 for more details.

[2018-11-26 21:41] jgravois commented on #401
thanks for the heads up. this is addressed in #402.

to be clear, `cz-lerna-changelog` isn't a dependency of the npm packages we maintain here. it is a **dev**Dependency and the only way to invoke that code is to clone this repo and run `npm run i && npm run c`.

[2018-11-26 22:00] #401 closed

[2018-11-27 05:12] tomwayson opened #403 "update feature-service fns to use cleanUrl()"
I think the feature-service package is probably most significant area where `cleanUrl()` still needs to be be applied (see https://github.com/Esri/arcgis-rest-js/pull/400#issuecomment-441808360)

[2018-11-27 16:05] COV-GIS commented on #403
Hey @tomwayson. I can add `cleanUrl()` in feature service and PR if you'd like.

[2018-11-27 16:37] jgravois commented on #403
closed via #404 :tada

[2018-11-27 16:37] #403 closed

[2018-11-27 23:34] jgravois opened #407 "add npm script to wipe out packages/**/dist/*"
to ensure we don't end up with another release that includes outdated files.

[2018-11-28 00:45] jgravois opened #408 "doc: make it clearer that it takes two steps to publish a new feature service"
* `createFeatureService()`
* `addToServiceDefinition()`

https://github.com/Esri/hub.js/blob/47c57480baac6fa3b2d54d2f2759a76d43b1fe9f/packages/annotations/src/create.ts#L92-L122

a breadcrumb or code snippet in the API reference for this would be _super_ helpful.

[2018-11-29 14:01] ronen5353 opened #410 "Question: load kml files upto 80 megbytes total(10 megabytes per file)"
Hi I am using Arcgis for JS version 4.9, I am trying to load upto 8 kml files(each file is about 10 megabytes).
The loading of the kml is passing successfully but the interaction(pan&zoom) with the map is very slow and not smooth.
I have several questions regarding this issue:
1. Can Esri load such an amount of kml files? if not is there any other alternatives ?
2. Why in openlayers I can do it sm

[2018-11-29 16:52] jgravois commented on #410
hi @ronen5353

that said, i don't expect that the ArcGIS API for JavaScript will _ever_ attempt to optimize the display of nearly 100MB of kml in the browser.

as a company, we are working hard to push the boundaries of performance via many different technologies and features:

* WebGL
* vector tiles
* client-side [queries](https://www.esri.com/arcgis-blog/products/js-api-arcgis/mapping/turbo-char

[2018-11-29 17:36] andygup commented on #410
@ronen5353 thanks for reaching out. Do you have a sample app you can share? If you don't want it public you can email it to me: agup at esri dot com.

[2018-11-29 19:42] #355 closed

[2018-11-29 20:00] dmfenton opened #411 "Do not force node users to require fetch"
It's awkward to have code like below. It's also an anti-pattern to use globals in Node.
[code]

Instead node-fetch could be made a dependency and only loaded if a node environment is detected. And rest-request could do something like
[code]

[2018-11-29 20:40] gavinr opened #412 "oauth2-browser demo: "Sign In (with popup)" fails when "Keep me signed in" is checked"
In the [oauth2-browser demo](https://github.com/Esri/arcgis-rest-js/tree/master/demos/oauth2-browser), when you click on `Sign In (with popup)`, signing in without checking "Keep me signed in" works fine, but if you check "Keep me signed in" the popup does not close and you are not logged in.

![image](https://user-images.githubusercontent.com/209355/49250492-8ee0f280-f3e4-11e8-9dea-620880fc0b6d.p

[2018-11-29 21:17] gavinr opened #414 "oauth2-browser demo: "Sign In (inline redirect)" does not redirect correctly when not at url root"
When running the app at `http://localhost:5000/` it works ok, but if not at the root, ie `http://localhost:5000/path/to/arcgis-rest-js/demos/oauth2-browser/` it does not redirect correctly.

[2018-11-29 23:04] #412 closed

[2018-11-29 23:06] jgravois commented on #414
thx for reporting (and patching) @gavinr! 🥇

if its more convenient you're also welcome to skip creating an issue entirely and just describe the problem you're solving in the pull request.

[2018-11-29 23:06] #414 closed

[2018-12-04 14:52] tomwayson commented on #411
I'm not sure there's a good way to to make node-fetch an "optional" dependency.

In discussing w/ @dmfenton he suggested to add it to `pacakge.dependencies` but not `import` it, and I presume use the above call to `require()`. We'd have to verify that rollup would tree shake that out, but I suspect it won't.

[2018-12-04 18:38] dmfenton commented on #411
Looks like there's this handy thing:
https://www.npmjs.com/package/rollup-plugin-ignore
[code]

[2018-12-04 18:41] dmfenton commented on #411
There is also the built in option `external`
https://rollupjs.org/guide/en#core-functionality
[code]

[2018-12-05 00:38] jgravois commented on #407
i snuck `npm run clean` into a107ae73f1cfc2f5c7c9713f0180d1c36429eb

[2018-12-05 00:38] #407 closed

[2018-12-05 20:22] #410 closed

[2018-12-12 00:56] jgravois commented on #393
i played around a little today and noticed that in the JSAPI, when a layer is instantiated from a portal item, its popupInfo doesn't impact what is returned by 'queryFeatures()'.

instead, the attributes associated with a particular feature are massaged after the fact (just in time to display a popup).

because of this, i _guess_ it makes sense to follow the pattern we established in #386

[code]

[2018-12-18 20:51] jgravois opened #420 "pkg.browser > pkg.unpkg"
apparently unpkg.com moved away from relying on the `"browser`" field in a package.json file a _long time ago_.

https://github.com/unpkg/unpkg.com/issues/63

[2018-12-19 19:37] tomwayson opened #422 "How should apps handle multiple credentials"
Unlike [IdentityManager](https://developers.arcgis.com/javascript/latest/api-reference/esri-identity-IdentityManager.html), rest-js does not provide a means to handle multiple credentials, for example if:
- an app needs to connect to multiple servers using different credentials
- an app needs to connect to a server that is not federated w/ the current session's portal

Up until now, I think our id

[2018-12-19 21:47] patrickarlt commented on #422
@tomwayson FWIW this is exactly why i designed [IAuthenticationManager](https://esri.github.io/arcgis-rest-js/api/request/IAuthenticationManager/) manager the way I did. I just really didn't want to take the extra complexity leap into a full blown `IdentityManager` implementation.

[2018-12-19 23:05] dbouwman commented on #422
This sounds like a great solution @tomwayson

I would suggest that we also support a scenario where the consuming app has the token (from a cookie, localstorage, some other auth flow managed by the app), but not the username/password? As long as we can do that in addition to passing in the un/pwd, that would be good with me.

For the `server` should we pass just the `hostname`? or protocol + hostn

[2018-12-20 23:47] tomwayson commented on #422
Depends on #423

[2018-12-20 23:55] tomwayson commented on #422
Thanks guys.

@dbouwman

The use case that @qlqllu and I have calls for parity w/ IdentiyManager, so I don't really want to do anything "smarter" than what it's already doing, which I believe is just check for URLs that "start w/" the server base, which should include protocol and port all the way up to `/arcgis/rest/services`.

[2018-12-26 21:09] jgravois opened #424 "'request' cannot be tree-shaken out of a webpack bundle"
[`git checkout doc/webpack && npm i && npx webpack`](https://github.com/Esri/arcgis-rest-js/tree/doc/webpack/demos/tree-shaking) 🤔

https://webpack.js.org/guides/tree-shaking/

`src/index.js`
[code]
`package.json`
[code]
`webpack.config.js`
[code]

[2019-01-03 17:36] previnWong opened #425 "Authentication - how to use a token"
I have custom code to generate a token.  How can I use that token to in the addItemJsonData or updateItem calls.  Right now, I have to create a new userSession

[code]
I'm using this as a widget in ArcGIS Web AppBuilder.
The generateToken is a function leveraging ArcGIS Web AppBuilder's core module to generate a token. Since the user is already logged in, I would like to leverage that and not forc

[2019-01-03 17:58] jgravois commented on #425
this library contains comprehensive internal logic for selectively generating tokens, checking their expiration, determining whether a resource is federated and appending tokens to requests automatically so you're far better off relying on a [`UserSession`](https://esri.github.io/arcgis-rest-js/api/auth/UserSession/) than trying to generate static tokens on your own.

that said, the bookdoor to ap

[2019-01-03 23:31] jgravois commented on #425
does that answer your question @previnWong?

[2019-01-03 23:33] previnWong commented on #425
yes it does, thank you. will close

[2019-01-03 23:33] #425 closed

[2019-01-03 23:44] jgravois commented on #425
and my apologies. i didn't fully read your initial question.

i'm not _super_ familiar with WAB, but if you're able to generate access `IdentityManager`, that _also_ provides a means to instantiate/syncronize a UserSession.

https://github.com/Esri/arcgis-rest-js/blob/master/demos/jsapi-integration/index.html#L76-L80

[2019-01-07 19:49] #318 closed

[2019-01-07 19:49] #420 closed

[2019-01-08 01:10] jgravois commented on #157
this is extremely belated, and still _far_ from a wrapper inside the library, but hopefully it shows there's not _too much_ to do on your own.

[code]

[2019-01-10 18:56] jgravois commented on #291
my linting escapades in #430 taught me that UserSession already has a `refreshSession()` method.

[2019-01-10 20:58] tomwayson commented on #291
and it's doc'd: https://esri.github.io/arcgis-rest-js/api/auth/UserSession/#refreshSession

[2019-01-10 20:58] #291 closed

[2019-01-11 02:26] #314 closed, assigned to nobody

[2019-01-16 20:19] jgravois opened #438 "solve the flaky 99.999% coverage reports from coveralls"
i _think_ i learned enough about sending coverage reports in [`react-arcgis`](https://github.com/Esri/react-arcgis/blob/master/.travis.yml) to simplify our own CI setup here and get consistent 💯% coverage reports from `karma@3`

instead of using two different reporters, we just need to figure out a way to send what gets generated in `/coverage` on disk from the report that appears in the terminal.

[2019-01-16 21:47] jgravois commented on #290
we landed support for passing custom `headers` in `IRequestOptions` in #437.

@itrew it wouldn't be hard to surface `credentials` too, but since you have a workaround, i'm wary to do it until #209 is resolved. feel free to log another issue for it if you'd like us to track it.

[2019-01-16 21:47] #290 closed

[2019-01-16 23:01] patrickarlt commented on #395
As far as I know the icons that AGOL uses for item styles aren't available anywhere else. The calcite icons aren't the right ones and I know there are more icons then what AGO assistant handles https://github.com/Esri/ago-assistant/tree/6a336e8936c8850e8a28b03df59cc9a741bf2ab1/src/assets/images.

[2019-01-17 07:34] #438 closed

[2019-01-17 12:38] simongis commented on #395
Just for info, our code on how we ended up approaching this:
https://github.com/bgtdevhub/housekeeping

And app:
https://housekeeping.bgtdevhub.com/

[2019-01-17 23:03] itrew commented on #290
@jgravois I'll go ahead and log another issue or now, as it really is a separate, but probably a pretty low priority. I'll be sure include my work around in the new issue in case anyone else stumbles onto the same problem.

[2019-01-17 23:06] jgravois commented on #363
lets put this one in the icebox.

[2019-01-17 23:06] #363 closed

[2019-01-17 23:07] jgravois commented on #349
this was resolved in https://github.com/Esri/arcgis-rest-js/pull/386

[2019-01-17 23:07] #349 closed

[2019-01-17 23:14] jgravois commented on #12
i wouldn't say what we're doing now is _perfect_, but i think we've settled on a comfortable balance between the thinness @dbouwman craves and the value adds that @patrickarlt described.

#339 will likely be where this conversation continues to evolve.

[2019-01-17 23:14] #12 closed

[2019-01-17 23:16] jgravois commented on #228
if no further action is taken, @tomwayson's self promotional issue will be closed manually on 6/19/2019.

[2019-01-17 23:25] #393 closed, assigned to nobody

[2019-01-17 23:40] itrew opened #443 "Enable passing credentials to fetch?"
Continuing the discussion started in #290 after it was closed with the implementation of custom `headers`.

Right now, the `request` function has a hard-coded `credentials` option that only passes credentials when the resource has the same origin as the request.

https://github.com/Esri/arcgis-rest-js/blob/462114610b9ca5750a933f297764ed46bc5c56eb/packages/arcgis-rest-request/src/request.ts#L147-L1

[2019-01-17 23:45] itrew commented on #343
@jgravois I'll be at the Dev Summit. Perhaps we can discuss a little bit there. I've just had very little time to devote to this recently, even though I'd really like to.

[2019-01-18 00:40] jgravois commented on #443
thanks @itrew. i'd like to tackle this _after_ #209 is complete.

[2019-01-18 17:03] bendalton opened #444 "createFeatureService on AGO fails with permissions error"
With a known good session, this code fails

[code]
with a permissions error
[code]

Here are my token/sessions enumerated privileges:
[code]

[2019-01-18 17:14] bendalton commented on #444
I am fully able to perform these same tasks through my arcgis online account gui.

[2019-01-18 17:42] bendalton commented on #444
Yikes. I just found my own mistake. Please ignore. @mpayson - this ended up being my fault. Sorry for the confusion

[2019-01-18 17:42] #444 closed

[2019-01-20 09:03] Biboba commented on #290
Hi @jgravois !

Thanks for the update.
So I tried getting rid of my custom fetch with cookie jar following the release of v1.15.2 but it fails because my cookie specified in headers object is appended to the get parameter:
https://hostname.foo.io/arcgis/rest/services/folder/service/FeatureServer/0/query?f=json&headers=%7B%22Cookie%22%3A%22myCookie%22%7D

I am using queryFeatures from @esri/arcgis-

[2019-01-20 16:01] jgravois commented on #290
@Biboba thanks for the detailed bug report. this has been patched in #447.

[2019-01-20 16:02] jgravois commented on #443
breadcrumb: https://github.com/Esri/arcgis-rest-js/issues/290#issuecomment-455849033

[2019-01-23 16:06] COV-GIS opened #448 "Docs menu and content columns overlap"
The menu and content columns overlap; even at 1500px width for some longer names.

![image](https://user-images.githubusercontent.com/14297903/51619255-c3ed5b00-1ee4-11e9-89e5-8249a5475404.png)

[2019-01-23 18:28] tomwayson opened #449 "distribute a UMD bundle that only includes what's needed to complete the OAuth flow"
In a couple apps now, when I've needed to create the redirect page to complete the OAuth flow, I've done so by loading the entire UMD bundle for arcgis-rest-auth like so:

[code]

I think we should consider splitting the code needed to complete the OAuth flow out of that bundle and distribute a second script along side the current one.

I think this would be a matter of moving [completeOAuth2](htt

[2019-01-24 08:41] Biboba commented on #290
@jgravois Thanks the quick fix ! I was able this time to get rid of my custom fetch using [v1.16.0](https://github.com/Esri/arcgis-rest-js/releases/tag/v1.16.0) :pray:

[2019-01-24 16:56] jgravois commented on #290
no problem.

i'd _love_ to be able to write a test that throws an error if anything unexpected shows up in the request parameters, but a blacklist presents a bit of a 🐔 and 🥚 problem.

[2019-02-04 20:53] skitterm opened #454 "Cannot favorite (share) items owned by others with `shareItemWithGroup` as an organizational user"
I want to favorite living atlas content (which is not owned by me) using `arcgis-rest-sharing`'s  `shareItemWithGroup`. I can do so with a public account, but not with an organizational account.

The error I get is:
`{"error":{"code":403,"messageCode":"GWM_0003","message":"You do not have permissions to access this resource or perform this operation.","details":[]}}`

I am invoking like this, pass

[2019-02-04 21:53] jgravois commented on #454
the error you're reporting is limited to scenarios in which an organizational user with **admin privileges** attempts to update the group sharing of a public item owned a user in an entirely different org.

https://github.com/Esri/arcgis-rest-js/blob/8be88a399a35e1dc31f77f377fb095489e055b2f/packages/arcgis-rest-sharing/src/group-sharing.ts#L110-L115

@dbouwman besides consistency with the docs, is

[2019-02-11 22:25] jgravois commented on #454
i've proposed a fix in #456 that doesn't alter the public facing API.

[2019-02-11 22:39] #454 closed

[2019-02-12 23:29] #282 closed

[2019-02-12 23:55] #174 closed

[2019-02-12 23:56] #157 closed

[2019-02-13 00:01] tomwayson commented on #373
Re-opening this issue in light of the re-kindled conversation in https://github.com/Esri/arcgis-rest-js/pull/374#issuecomment-462553066

[2019-02-14 19:10] haoliangyu opened #458 "Sub-module links in the doc are all 404"
API documents are broken at the sub-module page.

This is ok: https://esri.github.io/arcgis-rest-js/api/
This is 404: https://esri.github.io/arcgis-rest-js/api/items/
This is ok: https://esri.github.io/arcgis-rest-js/api/items/IItemDataAddRequestOptions/

[2019-02-14 19:39] haoliangyu opened #459 "magicKey should not be in ISuggestRequestOptions"
According to the [ArcGIS REST API doc](https://developers.arcgis.com/rest/geocode/api-reference/geocoding-find-address-candidates.htm) and the [doc of arcgis-rest-geocoder](https://esri.github.io/arcgis-rest-js/api/geocoder/ISuggestRequestOptions/#magicKey), the `magicKey` should be in `IGeocodeRequestOptions`, not `ISuggestRequestOptions`.

![image](https://user-images.githubusercontent.com/17262

[2019-02-14 21:15] #458 closed

[2019-02-14 21:24] #459 closed

[2019-02-14 21:25] jgravois commented on #373
closed via #457. thx @tannerjt! 🚀

[2019-02-14 21:25] #373 closed

[2019-02-14 21:46] tomwayson opened #462 "make sure all fns that wrap `request()` don't break w/ `rawResponse: true`"
Example:

https://github.com/Esri/arcgis-rest-js/blob/9ee647b419bce13de85dce2ca4d109c149e82ee5/packages/arcgis-rest-feature-service/src/query.ts#L140

[2019-02-16 01:40] #462 closed

[2019-02-25 19:37] jgravois commented on #449
if the `auth` package is loaded from the same location as it was in the app that spawned the OAuth 2.0 flow, isn't this 3kb file pretty much guaranteed to be served up from browser cache?

[2019-02-26 01:45] tomwayson commented on #449
I'd say in most cases the auth package will be bundled along with other vendor dependencies, so this 3kb file will not be in the browser cache.

[2019-02-26 04:08] tomwayson commented on #449
And sure, 3kb might not sound like too much, but it _is_ [our largest package](https://johngravois.com/devsummit/2019/rest-js/#/17).

[2019-02-26 11:07] mourya09 opened #470 "Regarding using software for commercial purpose."
Hi All,

I under that arcgis-rest-js is fallen under two license part 1. ESRI license and another is Apache 2.0 license part. Is it possible to clarify which license will prevail if this library wants to use for the commercial purpose?

[2019-02-26 16:19] jgravois commented on #470
`rest-js` only has one license, Apache 2.0.

https://github.com/Esri/arcgis-rest-js/blob/master/LICENSE

what led you to believe that there was a second license?

[2019-02-27 03:01] patrickarlt opened #471 "clicking feature-service in the API ref TOC expands the sub menu for the admin package too"

[2019-02-27 04:01] mourya09 commented on #470
Thanks Jgravois,

If you visit the url
[https://github.com/Esri/arcgis-rest-js#license](https://github.com/Esri/arcgis-rest-js#license)

and scroll down till last section "License" section. Here it is mentioned as

It made me think that this utility is licensed.

[2019-02-27 04:44] jgravois commented on #470
[INAL](https://www.urbandictionary.com/define.php?term=INAL), but a copyright and a license are two very different things.

* a copyright establishes who owns the code.
* a license establishes what use is allowed and what is not.

reference: https://opensource.stackexchange.com/questions/297/whats-the-difference-between-copyright-and-licensing

[2019-02-27 16:56] #471 closed

[2019-02-27 16:57] jgravois commented on #471
i'm not sure what i did is _elegant_, but the problem @COV-GIS reported is definitely fixed 😉

[2019-02-27 16:58] jgravois commented on #470
happy to chat more if anyone has any further questions about this.

[2019-02-27 16:58] #470 closed

[2019-02-28 00:11] patrickarlt opened #473 "UserSession.getTokenForServer() should handle refreshing token with refreshToken if main token is expired."
https://github.com/Esri/arcgis-rest-js/blob/cbbaed9ef0b62c1dbd57c4c3e1ea7513e165d5ab/packages/arcgis-rest-auth/src/UserSession.ts#L817

[2019-03-02 16:53] patrickarlt opened #476 "Should failure to refresh a token produce an ArcGISAuthError?"
Working on a demo for DevSummit I found this behavior and it struck me as odd:

[code]

When we fail to refresh a token should we throw a `ArcGISAuthError` instead to give users the change to `ArcGISRequestError.retry` again? Right now this throws an `ArcGISRequestError` because `Unable to generate token.` is a 400 error not one of the cases in https://github.com/Esri/arcgis-rest-js/blob/master/pa

[2019-03-02 18:22] tomwayson commented on #476
Makes sense to me that it would throw an auth error.

[2019-03-05 18:00] jgravois opened #479 "docs: crud methods for feature services display a duplicate options table"
* [`addFeatures()`](https://esri.github.io/arcgis-rest-js/api/feature-service/addFeatures/)
* [`updateFeatures()`](https://esri.github.io/arcgis-rest-js/api/feature-service/updateFeatures/)
* [`deleteFeatures()`](https://esri.github.io/arcgis-rest-js/api/feature-service/deleteFeatures/)

[2019-03-05 18:10] COV-GIS commented on #479
More than just the crud methods: [getGeocodeService()](https://esri.github.io/arcgis-rest-js/api/geocoder/getGeocodeService/) FYI.

[2019-03-08 17:02] jgravois opened #483 "is it possible to use OAuth 2.0 to help users login to an unknown portal?"
how do applications like AppStudio allow users to enter their own portal url and then sign in via an OAuth flow?

[2019-03-13 02:57] adepottey opened #485 "error when UserSession created with portal token attempts to exchange it for a server token"
I am hoping to use arcgis-rest-js in a middleware component.  I have a REST endpoint that basically orchestrates a series of calls to GP and feature services.  I get a user-generated token as a parameter and I just pass the token through on all of my service calls.

I am trying to construct a UserSession using the token, but I am getting an error with my logic.  I think I probably need to set some

[2019-03-13 19:51] jgravois commented on #485
hi @adepottey :wave:

do you know what `refer` is passed as an argument when the token is first generated?

[2019-03-13 22:12] jgravois commented on #485
the problem is indeed a result of the fact that Node.js applications that use this library pass along the generic referer header `@esri/arcgis-rest-js` when swapping a portal token for a server token and whatever call generated your own token included a totally different `referer`.

because of this i have a few suggestions:

1. in #436 we landed the ability to set custom referer headers on request

[2019-03-13 22:57] adepottey commented on #485
Thanks John, I was able to get this working in my test case using your second suggestion.

Here is my code:
[code]

[2019-03-13 23:28] jgravois commented on #485
awesome. thank you for confirming.

i'm going to leave this ticket open as a reminder to add a code snippet to the API reference for UserSession as a breadcrumb for other developers in your 👡s.

[2019-03-14 20:37] jgravois commented on #485
8180b40

[2019-03-14 20:37] #485 closed

[2019-03-15 19:08] #476 closed

[2019-03-15 19:08] #479 closed

[2019-03-27 14:44] ssylvia opened #495 "Params with a "null" value are not included in request."
I'm using the `updateItem` method to set the `itemDetails` and `itemData` on a Story Map. If a user clicks "Unpublish", we need to remove this `itemData`. This should be able to be accomplished with the following:

[code]

However, the `text: null` is never included as a param in the request.

Currently, I have to make a second request if I want to update the itemDetails and remove the itemData at

[2019-03-27 14:53] jgravois commented on #495
right now to send a parameter with an empty key you need to pass `""`.

https://github.com/Esri/arcgis-rest-js/blob/master/packages/arcgis-rest-request/src/utils/process-params.ts#L62-L65

would that work for you in this scenario?

[2019-03-27 19:05] jgravois commented on #495
i did a little testing and i was _not_ able to reproduce the behavior you described.

for me, this syntax induces the error below.
[code]

i just opened #496 with a tweak that resolves the error, but does _not_ get to the root of your problem.

when those changes are incorporated:

1. `data: null` causes the parameter to be dropped entirely (which is consistent with the rest of the library).
2. `d

[2019-03-28 11:32] ssylvia commented on #495
Thanks @jgravois. I was originally testing by looking at the output in AGO Assistant. With further investigation on my end, it looks like passing `null` is not what I want as you suspected. I reached out to few members of the Portal API team and they were unaware of a method to actually clear the itemData once it's been added.

The empty text string is probably what we want. I'll submit an issue w

[2019-03-28 11:32] #495 closed

[2019-03-28 14:58] COV-GIS commented on #448
no longer an issue with shortened package names in toc

[2019-03-28 14:58] #448 closed

[2019-03-28 15:10] jgravois commented on #448
_most_ of the packages are okay, but there are still a couple interfaces in `feature-service-admin` that overflow.

[2019-03-28 16:18] jgravois commented on #495
i feel you there. i've been tricked doing that too.

[2019-03-28 19:01] #424 closed

[2019-03-28 19:08] jgravois commented on #424
a demo that shows webpack tree shaking in action can now be found in the repo

https://github.com/Esri/arcgis-rest-js/tree/master/demos/tree-shaking

that said, we'd love to hear from users to try and make additional improvements.

[2019-03-28 19:49] tomwayson opened #497 "ArcGIS REST JS version of the JSAPI Oauth 2 sample"
At DevSummit I showed a rest-js version of the [JSAPI OAuth sample](https://developers.arcgis.com/javascript/latest/sample-code/identity-oauth-basic/).

I think it'd be a good idea to make a JS Bin of that and link to it from our browser auth docs so that people can see/touch/try it themselves.

Here's the code Dave and I hacked together moments before our talk:

[code]

It would be great if we co

[2019-03-28 19:55] tomwayson commented on #497
Oh, and here's the redirect.html code:

[code]

[2019-03-29 15:39] tomwayson commented on #497
Seems like [codepen projects](https://codepen.io/pro/projects) might work for this b/c it allows for multiple files w/ relative paths.

[2019-03-29 19:00] ssylvia opened #499 "Provide option to force request to use FormData content type"
There are some API requests that require `FormData` as the content type. We need a fallback option to force the request to FormData when only JSON params are passed so `x-www-form-urlencoded` is used as the fallback.

[2019-03-31 03:55] hhkaos opened #501 "Problem with HTML description on updateItem"
I don't understand why when I try to update [this item](https://awesome-arcgis.maps.arcgis.com/home/item.html?id=bb04b466539446cb9715943406c4c707) with this code:

[code]

The header tag is removed:

![Screen Shot 2019-03-31 at 01 53 45](https://user-images.githubusercontent.com/826965/55283297-dc9c4600-5357-11e9-8a78-12b6cbbd6700.png)

@jgravois are you "processing" the `description` field before

[2019-03-31 04:52] jgravois commented on #501
nope, the header tag is still there when we execute the request.

<img width="461" alt="Screenshot 2019-03-30 21 46 51" src="https://user-images.githubusercontent.com/3011734/55284941-62f36080-5335-11e9-96fc-1bd3e70286a7.png">

i can't say i know _why_, but `<h>` tags aren't included in the HTML supported in ArcGIS Online.

https://doc.arcgis.com/en/arcgis-online/reference/supported-html.htm

h/t

[2019-03-31 09:49] hhkaos commented on #501
mMmMm, I see... but ... then it shouldn't work either when I enter it manually, should it?

![3D Analyst](https://user-images.githubusercontent.com/826965/55287568-f5821700-53aa-11e9-8103-702f43a32fa7.gif)

Thanks again! :smile:

[2019-03-31 15:40] jgravois commented on #501
`<h>` tags aren't being persisted in the item description when you use the GUI either. its just not evident until you refresh the entire page.

[2019-04-02 16:51] #499 closed

[2019-04-02 16:53] jgravois commented on #501
closing, but happy to chat more about this if anyone has additional questions down the line.

[2019-04-02 16:53] #501 closed

[2019-04-02 17:07] jgravois commented on #499
in [`v1.19.1`](https://github.com/Esri/arcgis-rest-js/releases/v1.19.1) and above `updateItemResource()` will use FormData automatically.

if you can do me a big favor and loop back _after_ June. i'd love to get confirmation that the underlying bug has been fixed.

[2019-04-02 17:15] patrickarlt commented on #499
@jgravois even if the underlying bug IS fixed in June do we will leave this in place for people who are using older versions of Portal?

[2019-04-02 20:54] jgravois commented on #499
great point.

The Portal API doc doesn't advertise when individual parameters landed in Enterprise. Its possible that by the time you can set `access` on an existing resource, FormData will no longer be required.

That's just a guess though. until we know for sure we should probably leave our check in place.

[2019-04-03 07:44] hhkaos commented on #501
Awesome John! thanks and sorry for the late reply.

Finally I have decided to parse the auto-generated HTML I was producing to replace it for <font size="X">.

I have now working [the product pages in the Awesome](https://esri-es.github.io/awesome-arcgis/arcgis/products/) in [a group](https://awesome-arcgis.maps.arcgis.com/home/group.html?id=663480a878724c42aef09a523a8d5139&view=list&start=1&num=2

[2019-04-03 14:46] jgravois commented on #501
awesome. looking _really_ good!

[2019-04-08 16:34] tomwayson opened #504 "getItemData() throws JSON parsing error if data is empty"
The error is:

[code]

If the data is empty, this function could return `null` instead of forcing consuming apps to test for the above error.

[2019-04-09 19:06] tomwayson commented on #137
Before we go to 2.0 I'd like to at least discuss consolidating all the "portal" packages - items, groups, sharing, users, etc, are all so intertwined that even if you start out only using 1 or 2 of them, you'll eventually end up using most of them. I think it'd be a lot simpler if those were all in @esri/arcgis-rest-portal (or -sharing, or whatever). Now that modern apps can treeshake our packages

[2019-04-09 20:27] #504 closed

[2019-04-09 22:16] jgravois commented on #504
@qlqllu this is resolved in [`v1.19.2`](https://github.com/Esri/arcgis-rest-js/releases/v1.19.2)

[2019-04-11 02:25] qlqllu commented on #504
Thanks for your quick fix, it works now.

[2019-04-11 17:39] patrickarlt commented on #384
@tomwayson @dbouwman I'm really interested in writing at least the first one of these for building a search `query` parameter after running through the horror of https://github.com/Esri/arcgis-rest-js/blob/master/demos/node-cli-item-management/index.js#L101-L132.

Before I get too far into this though I know you both are (particularly @dbouwman) are huge FP fans. Fluent interfaces in TS would be s

[2019-04-11 18:12] patrickarlt commented on #137
Now that tree shaking is working I think package consolidation makes a lot of sense for a 2.0.0. If you work with 1 method you are probally going to work with a bunch of methods. Having `@esri/arcgis-rest-portal` makes a lot of sense since it would combine 4 modules down to 1. I think we should also move things like `getPortal()` and `getPortalUrl()` out of `@esri/arcgis-rest-request` and into a n

[2019-04-11 18:13] patrickarlt commented on #137
Combining everything into `@esri/arcgis-rest-portal` also solves the issue of where to put `SearchQueryBuilder` since it would be weirdly shared between only `@esri/arcgis-rest-items` and `@esri/arcgis-rest-groups`.

[2019-04-11 18:16] patrickarlt commented on #137
Another item for a 2.0.0 would be to refactor `ISearchRequestOptions.searchForm` into `ISearchRequestOptions`  and remove `ISearchRequest`. This was kind of covered in https://github.com/Esri/arcgis-rest-js/issues/104 but I think we should make it consistant with our discussions in https://github.com/Esri/arcgis-rest-js/pull/78.

[2019-04-11 18:17] patrickarlt commented on #137
I also think it makes sense to cut a 2.0.0 soon with all these changes since we realized we should have anyway because of https://github.com/Esri/arcgis-rest-js/pull/506.

[2019-04-11 18:20] patrickarlt commented on #137
I'm also going to propose that we make `request` no longer able to accept a `url` as the first param to solve some of the issues with https://github.com/Esri/arcgis-rest-js/pull/508. `request` would be infinity more flexible if it simply accepted `IRequestOptions` as its only param. Since most other methods make you specify the `url` in their params anyway I don't think this is a big deal.

[2019-04-11 23:26] tomwayson commented on #137
`getPortal()` ✔️
`getPortalUrl()` - this is used in [-auth](https://github.com/Esri/arcgis-rest-js/blob/74a0cdb68fad40609690e59b9aba7559cb53f403/packages/arcgis-rest-auth/src/get-user-url.ts#L14) and [-feature-service-admin](https://github.com/Esri/arcgis-rest-js/blob/cbbaed9ef0b62c1dbd57c4c3e1ea7513e165d5ab/packages/arcgis-rest-feature-service-admin/src/create.ts#L170), so I don't know if we can

[2019-04-11 23:36] tomwayson commented on #137
I agree, but I could see another way to do it would be to put `SearcQueryBuilder` & friends into a higher level package that sits on top of of, or may even be independent of the other rest-js packages. Consumers could call `.toParam()` and pass the output of that into the rest-js fns instead of passing an instance of the builder.

[2019-04-11 23:39] jgravois commented on #137
I'd either leave `getPortalUrl` in `request` or move it into `common`.

if we're consolidating so much into `portal` I think it'd a mistake not to consolidate `feature-service` too.

[2019-04-13 14:34] patrickarlt commented on #137
@jgravois I feel like feature services should still be their own package since I think lots of people will use them independent of the portal packages and conceptually they related to a very different API area.

[2019-04-13 15:05] jgravois commented on #137
I've been thinking about it quite a bit and i'm starting to think that it makes _more_ sense to put the two methods we have for administering feature service endpoints into `portal` than `feature-service`.

* it consolidates it's own dependencies
* it separates something that it is used seldom from things that are used much more often
* their calls are made to a totally different API.

[2019-04-13 15:20] patrickarlt commented on #137
@jgravois I really like the idea of merging the `admin` methods into `portal` BUT since I really want to make a builder and some higher level admin functions does that make that package to heavy for Hub since Hub can't tree shake?

[2019-04-13 19:28] tomwayson commented on #137
The feature service admin fns do somehow make more sense w/ `portal` than w/ `feature-server`, so if we have to merge `-admin` I'd say under `-portal` is OK, but I'd still rather leave it as it's own package.

We should not do anything for Hub's sake, b/c at the end of the day, Hub is going to need every fn in this repo.

However other Ember apps that need portal fns, but don't need to administer

[2019-04-13 20:43] tomwayson commented on #137
Since we've been touching on function signature consistency in a few of the 2.0.0 issues, and are talking about having `request(url, options)` become `request(optionsWithUrl)` in #508, I think we should enforce the idea that I had way back in https://github.com/Esri/arcgis-rest-js/pull/78#issuecomment-352160174 - **all "fetch" functions should take a single argument**.

Currently our convention is

[2019-04-14 04:38] jgravois commented on #137
i'm fine with leaving `feature-service-admin` a standalone package (with a dependency on `portal`).

i'm on board with that, but if we're _really_ going to be consistent, `request` should support:

[code]
and i don't know if that relieves @patrickarlt's compositional headaches or not.

[2019-04-14 14:27] tomwayson commented on #137
I think that would be the ideal signature for `request()` but If causes headaches, I'm fine w/ request not accepting a `url` as a string.

[2019-04-15 15:43] patrickarlt commented on #137
@jgravois @tomwayson I'll be honest I'm not really a fan of `withUrl()` at all anymore. I think we should just ship `withOptions()` and not ship `withUrl()` at all and let people do:

[code]

for methods they want to override the `url` option on. This leave it up to users how to resolve https://github.com/Esri/arcgis-rest-js/pull/508#issuecomment-482879646 for methods that don't accept `options.ur

[2019-04-15 15:46] jgravois commented on #137
that's a-okay with me.

[2019-04-15 16:30] itrew commented on #137
If you all are thinking about 2.0, I have some work that you may or not be interested in. Several months ago I did some experimenting with TS generics and the geometry types of this lib. Now it's been a while, so I will have to refresh my memory, but the idea was to make the types more extensible. Below is a snippet from the write-up I did [here](https://github.com/itrew/arcgis-rest-js/issues/1).

[2019-04-15 19:22] patrickarlt commented on #137
I have to be honest I'm not a super big fan on forcing the pattern in https://github.com/Esri/arcgis-rest-js/issues/137#issuecomment-482883019

[code]

I think the pattern we laid out works just fine. @tomwayson proposal would basically require us to make a custom options interface for every method. I do agree that the proposed `getItem(idOrOptions: string | IRequestOptions) {};` WOULD work great

[2019-04-15 19:57] jgravois commented on #137
thanks for chiming in @itrew! to be honest, besides shuffling some code around, this is one area where we haven't put in much work because frankly my own team isn't juggling a lot of code that manages geometries or feature sets in production.

our goal is to ship a `v2.0.0` late this week, so if you can find the time to put together a pull request (based on the [branch](https://github.com/Esri/arc

[2019-04-15 23:44] tomwayson commented on #137
I didn't think of that. I still think in JS, not TS.

Looking at the 2.0.0. branch I see 8 fns w/ an optional second argument of type `IRequestOptions` (i.e. search on `?: IRequestOptions`). For 6 of those the first arg is `id: string`, 1 is `url: string`, and the other is [searchGroups()](https://github.com/Esri/arcgis-rest-js/blob/9da67f884d2737931109889fe6597269bd5d8137/packages/arcgis-rest-por

[2019-04-16 00:31] patrickarlt commented on #137
@tomwayson allowing `queryFeatures(url | IQueryFeaturesRequestOptions)` is going to cause major headaches for `withOptions`. Consider `queryFeatures(url | IQueryFeaturesRequestOptions)` vs `queryFeatures(query | IQueryFeaturesRequestOptions)`:

[code]

works great. But this is what it would look like with`queryFeatures(url | IQueryFeaturesRequestOptions)`

[code]

I would always prefer a pattern w

[2019-04-17 13:49] tomwayson commented on #137
@patrickarlt I'll admit that `queryStates("STATE_NAME = 'Alaska'")` looks great, but the thing is `queryFeatures(whereOrOptions: string | IQueryFeaturesRequestOptions)` would never work. You could not call `queryFeatures("STATE_NAME = 'Alaska'")` i.e. w/ just `where` and not a `url`. `url` is the one required option, that's why I want to make it the `thingFromOptions`.

Now that we've merged all t

[2019-04-17 14:11] tomwayson commented on #137
I'm really happy w/ the new structure of the packages. I think we've got everything in it's right place.

I do wonder a bit about the package names (sorry). I doubt @patrickarlt wants to revisit the great ontology debates that went into the section headings of https://developers.arcgis.com/rest/, but I have these concerns:
- for some people "portal" means "on premise" and not ArcGIS Online
- I thi

[2019-04-17 14:49] patrickarlt commented on #137
True. `-content` works for me.

Also true.

Disagree since the only methods are specific for feature services

I would prefer `-features` and `features-admin` to `-services`. I Would honestly also prefer `feature-layer` to `feature-service` since most users think of these things as layers anyway even though the REST API thinks of them as services.

[2019-04-17 14:57] patrickarlt commented on #137
I would also like to loop back on our discussions in https://github.com/Esri/arcgis-rest-js/pull/515.

After working with the new types exported from `@esri/arcgis-rest-request` I really don't like it at all. I'm importing types from a module where nothing related to that type is happening and I only installed it because I was told i has to by peer deps.

I think would rather do the following:

1.

[2019-04-17 15:17] patrickarlt opened #518 "v2.0.0 doc improvements"
Given the volume of changes in 2.0.0 there are a lot of doc related tasks. We have also gotten a lot better at writing TypeScript and thus the custom typedoc rendering can't handle our fancy new typings.

#### Guide

* [x] Written guide for new 2.x features (@jgravois or @tomwayson)
* [ ] Write a new v1.x > 2.x migration guide (@jgravois or @tomwayson)
* [x] Guide for composition using `withOption

[2019-04-17 15:20] patrickarlt commented on #137
@jgravois a minor nit for 2.0.0.

We should standardize our exported constants like `worldRoutingService`, `worldGeocoder` and `NODEJS_DEFAULT_REFERER_HEADER`. I think we should do:

* `NODEJS_DEFAULT_REFERER_HEADER`
* `ARCGIS_ONLINE_ROUTING_URL`
* `ARCGIS_ONLINE_GEOCODING_URL`

[2019-04-17 16:36] jgravois commented on #137
can get behind:

* `geocoder` > `geocoding`
* `feature-service` > `feature-layer`
* `feature-service-admin` > `service-admin`

pat is right about the methods in there now but besides being concise, @tomwayson is being _forward_ looking)

* re-exporting `types` in upstream packages (if pat does the work)
* standardizing our exported constants

---
as for `portal`, before i drank the kool aid i had

[2019-04-17 17:11] tomwayson commented on #137
Agree, and I feel better about `-portal` after doing this experiment.

Search for "[arcgis portal](https://www.google.com/search?q=arcgis+portal)" - the results are all about enterprise. 😞

However, if you search for "[arcgis portal rest](https://www.google.com/search?q=arcgis+portal+rest)" or "[arcgis portal api](https://www.google.com/search?q=arcgis+portal+api) - at least the first result goes

[2019-04-17 17:18] tomwayson commented on #137
@patrickarlt

I don't know that our users will know or care that "nothing related to that type is happening".

Another idea is to leave them in `-request` but rename that package to `-core`.

Regardless of where the types end up (I don't really care if they stay in `-request`/`-core` or move to their own package called `-types`, or `-common-types`, or `-shared-types`), I'm not keen on re-exporting

[2019-04-17 17:37] patrickarlt commented on #137
I'm fine with what @jgravois proposed in https://github.com/Esri/arcgis-rest-js/issues/137#issuecomment-484166864.

I think `-portal` is the best we can hope for. Hopefully we can handle a page explaining portal on the Developers site someday.

I'm going to handle a `-types` package and re-exporting and i can handle the constants as well.

[2019-04-18 22:10] jgravois commented on #518
we're going to need _at least_ one demo to show off `SearchQueryBuilder`.

it'd be nice to be able to share a live link, instead of point folks at our /demos folder.

[2019-04-19 00:25] itrew commented on #137
So @JeffJacobson and I briefly discussed the idea of splitting the types in order to differentiate between the [`common data types`](https://developers.arcgis.com/documentation/common-data-types/overview-of-common-data-types.htm) and [`webmap spec`](https://developers.arcgis.com/web-map-specification/). For example, the `IField` interface are different between the two (webmap more or less extends

[2019-04-19 01:57] jgravois commented on #137
option #1 sounds good to me

unless there's an actual conflict between the two, we can also just be lazy and (only) document the webmap version even though we're not doing anything with webmaps here yet.

[2019-04-19 21:18] jgravois commented on #293
resolved in https://github.com/Esri/arcgis-rest-js/pull/531

[2019-04-19 21:18] #293 closed

[2019-04-19 21:20] jgravois commented on #96
resolved in https://github.com/Esri/arcgis-rest-js/pull/531

[2019-04-19 21:20] #96 closed

[2019-04-19 21:25] jgravois commented on #209
resolved via https://github.com/Esri/arcgis-rest-js/pull/531

for those following along at home, the relevant code can be found in `docs/src/build-typedoc.js`: [`rankChild()`](https://github.com/Esri/arcgis-rest-js/blob/11fd46dbcf4cf76b51b8e9702c904dcb9ef620cf/docs/build-typedoc.js#L411-L433).

[2019-04-19 21:25] #209 closed

[2019-04-19 21:27] jgravois commented on #384
this will be included in `v2.0.0`. _hopefully_ later today!

[2019-04-19 21:29] jgravois commented on #339
`withOptions()` and `setDefaultOptions()` will be included in `v2.0.0`

[2019-04-19 21:29] #339 closed

[2019-04-19 21:30] jgravois commented on #483
i guess not? :shrug:

[2019-04-19 21:30] #483 closed

[2019-04-19 23:27] itrew commented on #137
What was the idea behind re-exporting the types when used in a package when the package is already a dependency? I'm running into a little bit of a road block in trying to implement that when re-exporting interfaces under a `Webmap` named module exported by `-types`.

Going off of option 1 above, `Webmap` would have an interface `IFeatureLayerDefinition` that would be used in `feature-service` lik